[2018-08-12 21:11] max3903 opened #1 "Roadmap / Functional Spec"
Functional specifications / roadmap:
https://drive.google.com/open?id=1ijTCc5p0Ex84Pntdyck0FamoyFKXAyfE_jqoiVBshgw

Technical specifications:
https://docs.google.com/document/d/1z625Rq1Lh6_7q-GmsbKV1O6f3tfDA_Mrg-f-f_6LxVU

Use cases:
https://drive.google.com/open?id=1pzG4btpOxx7SpYLx15NMgr4E0aIuFer6qlCtbiIT928

[2018-08-12 21:12] max3903 commented on #1
Ping @wolfhall

[2018-08-14 21:56] JosDeGraeve commented on #1
hi @max3903 can you share the google docs ?

[2018-08-14 22:56] max3903 commented on #1
@JosDeGraeve I updated the links to copy of the original documents. Those new documents should allow you to comment.

[2018-08-20 15:46] sbidoul commented on #1
cc/ @chrisdec

[2018-09-10 14:12] max3903 opened #3 "fieldservice 0.0.1"
# Dependencies
- [x] base_geoengine

# Configuration
- [x] Add the menu structure
- [x] Add the user groups
- [x] Add the setting panel
- [x] Add Stages: New, Confirmed, Scheduled, Assigned, En route, Started, Complete, Cancelled.

# Master Data
- [x] Add Locations with Tree and Form views
* res.partner with a "Field Service Location" checkbox
- [x] Add Customers with Kanban, Tree and Form views
-

[2018-09-10 14:18] max3903 commented on #3
Ping @osi-scampbell, @wolfhall

[2018-09-10 14:25] max3903 opened #4 "Manage Vehicles"
- [x] Add "Manage Vehicles" in the settings
- [x] Add Vehicles menu item in Master Data
- [x] Add Vehicle to the Route
- [x] Add Vehicles menu item in Reporting

[2018-09-10 14:32] max3903 opened #5 "Manage Teams"
- [x] Add "Manage Teams" in the settings
- [x] Add Teams menu item in Configuration and only show it to the Manage Teams group. Each Team has a specific ordered list of Stages
- [x] Add Team on the Field Service Person and only show the field to the Manage Teams group
- [x] Add Team on the Order and only show the field/filter to the Manage Teams group
- [x] Change the Dashboard to show statistics

[2018-09-10 14:45] max3903 opened #6 "Manage Service Calls"
# Configuration
- [ ] Add the "Manage Service Calls" group
- [ ] Add the "Manage Service Calls" option in the setting panel
- [ ] Modify Stages to apply to Orders and Service Calls

# Operations
- [ ] Add Service Calls with Kanban, Map, Timeline, Tree and Form views

# Dashboard
- [ ] Add a link "XX Open Service Calls" to a list of Service Calls
- [ ] Add a button to open the Kanban view of the Se

[2018-09-10 14:52] max3903 opened #7 "Manage Agreements"
# Configuration
- [ ] Add the "Manage Agreements" group
- [ ] Add the "Manage Agreements" option in the setting panel

# Master Data
- [ ] Add Agreements

# Operations
- [ ] Add Agreements to Orders and Service Calls

# Reporting
- [ ] Add measures to Orders and Service Calls Report
* ???

[2018-09-10 14:57] max3903 opened #8 "Manage Equipments"
# Configuration
- [x] Add the "Manage Equipments" group
- [x] Add the "Manage Equipments" option in the setting panel

# Master Data
- [x] Add Equipments with Tree and Form views

# Operations
- [x] Add Equipment to Orders and Service Calls

# Dashboard
- [x] Add Equipments with Kanban, Tree and Form view

# Reporting
- [x] Add Equipments with Graph and Pivot views with measures:
* Number of Equip

[2018-09-10 15:06] max3903 opened #9 "Manage Skills: fieldservice_skill"
# Module description

Odoo Field Service App allows to assign any FS person to any FS order. For some organizations, they cannot assign any FS person to any order. They needs to manage the skills of the FS persons and reduce the list of potential FS persons on an order to avoid wrong assignment and mis-configuration. The skills of the selectable FS persons on a service order needs to match the req

[2018-09-10 15:14] max3903 opened #10 "Allow a local contact different than the customer"
# Configuration
- [ ] Add the "Allow a local contact different than the customer" group
- [ ] Add the "Allow a local contact different than the customer" option in the setting panel

# Master Data
- [ ] Add Local Contacts with Tree and Form views
- [ ] Add Local Contact to Location

# Operations
- [ ] Add Local Contact to Orders

[2018-09-10 15:34] max3903 opened #11 "fieldservice_stock"
# Dependencies
* fieldservice
* stock

# Configuration
- [ ] Add the "Use Odoo Logistics features" option in the setting panel
- [ ] Add a view location "Field"
- [ ] Add a view location "Vehicles" under the main warehouse
- [ ] Add 2 stock operations: "Stock to Vehicle" and "Vehicle to Location"

# Master Data
- [ ] Add a stock location to Location under Field (can be internal or customer)
- [ ]

[2018-09-10 15:57] max3903 opened #12 "Manage Work Orders"
# Configuration
- [ ] Add the "Manage Work Orders" group
- [ ] Add the "Manage Work Orders" option in the setting panel
- [ ] Modify Stages to be used for Work Orders

# Operations
- [ ] Add Work Orders with Kanban, Tree and Form views
- [ ] Add Work Orders to Orders

# Dashboard
- [ ] Add Work Orders with Kanban view

# Reporting
- [ ] Add Work Orders with Graph and Pivot views with measures:
* N

[2018-09-10 23:39] max3903 opened #13 "Manage Activities"
# Configuration
- [ ] Add the "Manage Activities" group with "Manage Work Orders" as a child
- [ ] Add the "Manage Activities" option in the setting panel. Only visible if "Manage Work Orders" is selected.
- [ ] Modify Stages to be used for Activities

# Operations
- [ ] Add Activities to Work Order with Kanban, Tree and Form views

# Dashboard
- [ ] Add Activities with Kanban view

# Reporting
-

[2018-09-11 00:07] #6 closed

[2018-09-17 11:22] janbec commented on #1
@max3903
This sounds really interesting. If you need someone for functional testing, I'll be happy to help.

[2018-09-25 13:52] etobella commented on #1
Do you intend to use it only in order to sell services or could be used for internal services?

[2018-09-25 15:46] max3903 commented on #1
@etobella The field service order can be invoiced or not.

If you have a use case in mind, please add it here:
https://drive.google.com/open?id=1pzG4btpOxx7SpYLx15NMgr4E0aIuFer6qlCtbiIT928

[2018-09-27 00:06] OCA-git-bot opened #15 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] fieldservice by @murtuzasaleh
- [x] fieldservice_account by @murtuzasaleh in #194
- [x] fieldservice_agreement by @murtuzasaleh
- [x] fieldservice_delivery by @murtuzasaleh
- [x] fieldservice_distribution by @murtuzasaleh
- [x] fieldservice_maintenance by @murtuzasaleh in #176
- [x] fieldser

[2018-10-01 14:17] max3903 opened #16 "UI Improvements"
- [x] Hide the second (or put 00) for the Scheduled dates
- [ ] ~~If the Scheduled Start is set --> State goes to Scheduled~~
- [ ] ~~If the Assigned To is set --> State goes to Assigned~~
- [ ] If the Scheduled Start and Assigned are set --> ~~State goes to Planned~~ --> Create the related Day route.

[2018-10-02 19:16] dreispt commented on #5
@max3903 I suggest that the base module includes basic Team support (the Team Model), so that the Stages can be defined by Team.
In my view, teams are for Orders what Projects are for Tasks.
I can work on this.

[2018-10-02 19:27] dreispt opened #17 "[RFC] Stages and States"
The actual Stage list used in a deployment should be open and configurable, according to the particular business needs and workflow.
We do need some common fixed "milestones" to use in business logic; for that we can map the dynamic Stage list to static "States" (a Selection list).

<s>Furthermore, different Teams might have different workflows, thus Stage lists (think Installation team, Repairs t

[2018-10-05 19:22] brian10048 commented on #4
This will require adding a dependency to fleet in order to add fields to the fleet vehicle model.  ex: fsm_vehicle boolean that could be used to filter the Vehicles in the Master Data > Vehicles menu item view action

Should the "Manage Vehicles" setting install a 'fieldservice_fleet' add-on that has the fleet dependency and accomplishes remaining/future items in the list?

[2018-10-05 21:07] wolfhall commented on #4
We are treating FSM vehicles as a separate entity from fleet vehicles.  Initially we thought we could re-use the fleet vehicle tables but there is actually a different meaning between the two:

Fleet Vehicles in the standard module are assets that require maintenance and are tracked for mileage purposes.  Most dispatchers don't concern themselves with these aspects - they don't need classic fleet

[2018-10-06 22:28] max3903 commented on #4
Hello @brian10048,

The idea here is to start with a fsm.vehicle object.

If "Manage Vehicles" is selected in the settings, the "Install fleet module" (not sure about the label yet) option would appear. Checking this box would install the fieldservice_fleet module. In this module, the fsm.vehicle object would inherit the vehicle object provided by the fleet module. Like fsm.person inherits res.par

[2018-10-08 20:29] robertrottermann commented on #17
I think stages should not be associated with teams but with work items.

[2018-10-08 21:42] dreispt commented on #17
"Teams" don't have a Stage.
They have a list of Stages their items (service orders?) are expected to go through (their workflow).
For example, Installation Orders might follow a different workflow from Repair Orders.

This is a similar design to the one used for Projects and Tasks.
This configuration flexibility is important to have.

[2018-10-09 09:35] petrus-v opened #19 "Improve README - what's "Field Service Management"?"
Hi,

Thanks for all of that.

Could you add a topic about what's "Field Service Management" or link to a definition of what is it in the main README. It's probably obvious for you but was not 10 minutes ago for me !

Regards

[2018-10-09 09:41] christophe-hanon opened #20 "Missing features - Order / Activity Type / Field documents"
Thanks for the initiative. Great spec.

I had a long talk with Maxime about it at the OCA code sprint in Belgium, so this ticket is basically to follow-up...

1) We miss a date-time of request in the current prototype, by default is should initialize to the time of creation of the request but may be different (customer request service on Friday, but entry is created on Monday). It may be required

[2018-10-09 10:27] dreispt commented on #19
Sure, but also make sure you read the docs referred in #1

[2018-10-09 10:37] dreispt commented on #17
@robertrottermann maybe rename my "Teams" to "Service Flows"?

But we still need a "Team"concept. It can be used to organize field people in groups, by Type of Service (Installation, Repair, Planned Maintenance, ...), Geography (East, West, BigCity, ...), Skills (AVAC Systems, Elevators, Intrusion Alarms), Department (Large Accounts, B2C Customers).
This concept would also have the role of a "Queu

[2018-10-09 11:36] robertrottermann commented on #17
On 09.10.2018 12:37, Daniel Reis wrote:

I agree,
We do have a team concept in our implementation.
I will try to explain it and create a PR by tomorrow or Tuesday
robert

--
Robert Rottermann CEO

031 333 10 20
robert@redo2oo.ch <mailto:robert@redo2oo.ch>
Sickingerstrasse 3, 3014 Bern
<http://maps.apple.com/?q=Sickingerstrasse%203,3014%20Bern>

https://Redo2oo.ch <https://redo2oo.ch>

*Ihr Partner

[2018-10-10 09:11] #19 closed

[2018-10-10 09:11] pedrobaeza commented on #19
@petrus-v I'm curious why don't you and none of your team contribute to OCA now.

[2018-10-10 11:58] petrus-v commented on #19
@dreispt, thanks for readme additions.

@pedrobaeza I've stopped to be part of odoo project at anybox for about 2 years (spending my all times on devops kind of things). I still follow some thread that get my curiosity and keep an eye of the whole great works done by the OCA.

Unfortunately I'm not the team... and I'm sad that no one from AnyBox get to the OCA code sprint at LLN. I believes on the

[2018-10-10 12:07] pedrobaeza commented on #19
Thanks for the frankness. We can speak about that if someone on your team wants and on OCA days there was a lot of this kind of discussion. It's a pity to lose you in OCA as very skilled people.

[2018-10-10 13:30] max3903 commented on #5
@dreispt Thanks

[2018-10-17 08:38] dreispt commented on #17
Rough design:

- `Service Order`: once created, it can be assigned a `Type of Work`, `Team` and a `Service Flow`:
  - `Type of Work`: is the type of work to do, such as installation, maintenance, etc.
  - `Teams`: organize people that are eligible for the same `Service Orders`, because of skill, geography, type of work, or other criteria. It narrows the list of possible `Person` workers (or `Crews

[2018-10-17 08:44] dreispt commented on #9
Should Skills reuse the existing HR module? https://github.com/OCA/hr/blob/11.0/hr_skill/models/hr_skill.py
We could reuse it, even if we don't use Employees.
cc @max3903 @robertrottermann

[2018-10-17 13:25] max3903 commented on #9
@dreispt Yes

[2018-10-17 14:53] dreispt commented on #9
@robertrottermann Thoughts? This would affect #26

[2018-10-18 19:04] brian10048 commented on #17
@dreispt I totally agree with the rough design as you explained it.  I think that a 'Team' having a configurable flow is a viable option.  For example, a subcontractor 'Team' might have different stages than an in-house 'Team' of a company's own employees.

[2018-10-31 12:38] dreispt opened #29 "Concerns about compatibility/overlap with Maintenance modules"
I'm sorry for not bringing this up earlier:

Field service includes maintenance, but has a broader scope than that.
But looking at the standard "[maintenance](https://github.com/odoo/odoo/tree/12.0/addons/maintenance)" app, I see some common ground with FS Orders.

I wonder if it is not a better design to have FS Orders based on Maintenance requests, so that we can leverage addons (and avoid dupli

[2018-10-31 12:46] dreispt commented on #29
![image](https://user-images.githubusercontent.com/1246629/47788775-9db38700-dd0a-11e8-989a-5633ed1a5e8b.png)

![image](https://user-images.githubusercontent.com/1246629/47788791-aa37df80-dd0a-11e8-9311-8c804985f6c4.png)

![image](https://user-images.githubusercontent.com/1246629/47788819-bfad0980-dd0a-11e8-97ac-5ef938152d08.png)

![image](https://user-images.githubusercontent.com/1246629/47788840

[2018-10-31 13:17] dreispt commented on #29
Proof of concept: <s>#30</s>#31
Only focuses on the Orders model.
Needs work on Views and Security Groups.

[2018-11-05 19:03] max3903 commented on #9
@dreispt FYI, I made a suggestion of improvement for skills https://github.com/OCA/hr/issues/503

[2018-11-06 18:50] brian10048 opened #32 "Clarify location hierarchy with service points"
In #27 a `location` model was introduced, but it is similarly named to `fsm_location` which can be somewhat confusing as to its purpose.

I propose `fsm_service_point` instead to create a hierarchy of locations/areas/items to be tracked within an overall `fsm_location`

The `fsm_service_points` would also be related to a specific `fsm_service_point_type` to help create a hierarchical categorizatio

[2018-11-07 15:04] dreispt commented on #32
Any reason for the "service points" to not be the lower layer of the FSM Location tree?

[2018-11-07 17:44] brian10048 commented on #32
I don't completely understand the question.  Are you suggesting just creating a hierarchy of the FSM Location model rather than having a separate model of Service Points?

[2018-11-08 00:34] brian10048 commented on #32
To further expand on the concept of this issue

Using the example described in the Use Cases spreadsheet from #1 labeled Inspection in the Industry column:

The `fsm_service_point` would represent the components of a fire system needing inspected.  Maybe there are `fsm_service_point_types` named "Controller", "Zone", "Sensor" for a fire system.  Sensor is a child of Zone which is a child of Contro

[2018-11-20 19:02] max3903 opened #36 "fieldservice_account"
Dependency: fieldservice, account, timesheet
License: AGPL-3

# Description

Odoo Field Service app does not allow the field service person to enter their time spent on a service order. Because this time is not captured, there is currently no way to log costs or revenues. Organizations want to keep track of time spent on service requests to generate customer invoices.

This module allows the Field

[2018-11-23 16:19] max3903 opened #37 "fieldservice 0.0.2"
# Configuration
## Field Service Person Category
- [x] Add a menu item in Configuration > Persons
- [x] Add a fsm.person.category object
- [x] Add a required char field "Name"

## Field Service Order Template
- [x] Add a menu item Templates in Configuration > Orders
- [x] Add a fsm.order.template object
- [x] Add a required char field "Name"
- [x] Add a many2many field "Categories" (category_ids)

[2018-11-28 19:45] jesulo opened #40 "object with reference: owner_id - owner.id"
First of all, I thank you for sharing your module. Can I ask for an error that I have when converting a contact to fsm.location? Thanks for your time.

The operation can not be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still have references to it
- creation / update: a mandatory field has not been entered correctly

[object with

[2018-11-29 20:08] jesulo commented on #40
Thanks, I will do it.

[2018-12-04 23:19] max3903 opened #74 "fieldservice_equipment_agreement"
Dependencies: fieldservice_equipment, agreement_fsm
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access field service equipments related to an agreement. Some organizations needs to have a quick access to field service equipments to track the performance of an agreement.

This module allows you to link a field service equipment to an agreement and adds

[2018-12-05 19:06] max3903 opened #46 "fieldservice_distribution"
Module name: fieldservice_distribution
Dependency: fieldservice
License: AGPL-3

# Description
This module allows you to define distribution locations and create your network of location to distribute water, electricity, gas or bandwidth.

# Configuration
* Go to Master Data / Locations
* Create or edit a location to set it as a distribution location
* Create or edit a second location and set its

[2018-12-07 02:33] #32 closed

[2018-12-07 16:53] #46 closed

[2018-12-07 17:16] brian10048 commented on #40
This should be resolved with cfb3fa9

[2018-12-12 01:03] #40 closed

[2018-12-12 01:04] #7 closed

[2018-12-12 14:27] max3903 opened #53 "Mapping features"
# Master Data
- [ ] Add Map view to Locations

# Operations
- [ ] Add Map view to Routes with the path

# Dashboard
- [ ] Add Field Persons GPS positions on the map
- [ ] Add Equipments on the map

[2018-12-12 14:28] max3903 commented on #53
Ping @wolfhall @osimallen

[2018-12-12 14:59] #3 closed

[2018-12-12 14:59] max3903 commented on #3
Map features moved to #53

[2018-12-12 16:11] #4 closed

[2018-12-12 16:11] #8 closed

[2018-12-13 22:35] #9 closed

[2018-12-13 22:36] #37 closed

[2018-12-17 20:18] max3903 opened #62 "Field Service 11.0.0.2.0"
- [x] Activating the "Manage Equipments" option automatically installs the fieldservice_stock module and activates the Traceability in the Inventory settings.
- [x] Add a many2one field "Managed by" (managed_by_id) to res.partner on fsm.equipment
- [x] Add a many2one field "Owned by" (owned_by_id) to res.partner on fsm.equipment
- [x] Add a many2one field "Parent" (parent_id) to fsm.equipment on f

[2018-12-17 20:20] max3903 opened #63 "Field Service Stock 11.0.0.2.0"
- [ ] Add a boolean field "Creates a FSM Equipment" (create_fsm_equipment) on product.template. The field is only displayed if traceability by lot is activated.
- [ ] Add a readonly many2one field "Field Service Equipment" on stock.production.lot to fsm.equipment
- [ ] Add a many2one field "Lot/Serial Number" (lot_id) on fsm.equipment to stock.production.lot. When the lot/serial number is modified

[2018-12-18 00:23] max3903 opened #64 "Field Service 11.0.0.3.0"
# fsm.equipment
- [x] Add a many2one field "Current Location" (current_location_id) to fsm.location

# fsm.order
- [x] Add a many2one "Equipment" (equipment_id) to fsm.equipment
- [x] Add a selection field "Type" (type)

[2018-12-18 00:25] max3903 opened #65 "Field Service Stock 11.0.0.3.0"
# fsm.equipment
- [x] Add a computed field "Current Inventory Location" (current_stock_location_id) to show the current inventory location of the related serial number

# fsm.order.return
- [x] Add an object "Return Line" fsm.order.return
- [x] Add a char field "Description" (name) to fsm.order.return
- [x] Add a many2one field "Product" (product_id) on fsm.order.return to product.product
- [x] Ad

[2018-12-18 00:42] max3903 opened #66 "Field Service Maintenance 11.0.0.0.1"
Depends on fieldservice_stock and maintenance
License: AGPL-3

# Module Description
Odoo Maintenance App does not support Field Service operations for equipments outside the company facilities. On the other hand, the Field Service App does not support a maintenance schedule generating preventive maintenance request.

This module allows you to merge equipments from Field Service and Maintenance and

[2018-12-18 00:48] max3903 opened #67 "Field Service Repair 11.0.0.0.1"
Depends on fieldservice_stock and mrp_repair
License: AGPL-3

# Module Description
Odoo Repair App does not support Field Service operations for products outside the company facilities. On the other hand, the Field Service App does not support part management (add, update, remove) of an equipment.

This module allows you to repair FSM equipments and manage their parts: add, update/replace, remove.

[2018-12-20 10:30] dreispt commented on #66
Looks like a good compromise 👍

[2018-12-26 15:08] max3903 opened #75 "Field Service Agreement (fieldservice_agreement)"
- [x] Add a many2one field "Service Profile" (serviceprofile_id) on fsm.order
- [x] Filter the list of service profiles based on the selected agreement
- [x] Add a group by Service Profile in the search view

[2018-12-27 14:53] #75 closed

[2018-12-27 15:49] #74 closed

[2018-12-31 13:58] jesulo opened #82 "geospatial for odoo 11"
Hi,

For odoo 11 there is no base_geoengine module, right? because I have not found in

Please refer to the installation instructions available at: https://github.com/OCA/geospatial/tree/11.0/base_geoengine

Regards,

[2018-12-31 16:44] tate11 commented on #82
https://github.com/OCA/geospatial/pull/178

[2018-12-31 17:17] jesulo commented on #82
Thanks @tate11,
yes is in https://github.com/OCA/geospatial/tree/17b429442bc53b03473d347f91f593a0f9be41ad

I have an error, of record

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/user99/Developments/odoo11/odoo/odoo/tools/convert.py", line 744, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/home/user99/Developments/odoo11/odoo/odoo/tools/convert.py", l

[2019-01-02 11:48] jesulo opened #86 "Error reinstall fieldservice"
Hi,

when I install again I get this error, how could I fix it? odoo 11

Traceback (most recent call last):
  File "/home/user99/Developments/odoo11/odoo/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/user99/Developments/odoo11/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception),

[2019-01-02 15:27] #64 closed, assigned to max3903

[2019-01-02 16:23] jamesln92 opened #87 "Error installing field-service - missing 1 required positional argument: 'partial'"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/james/workspace/odoo_v11/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/james/workspace/odoo_v11/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/home/james/workspace/

[2019-01-03 15:20] max3903 opened #88 "fieldservice_partner_multi_relation"
Depends on fieldservice and partner_multi_relation (https://github.com/OCA/partner-contact/issues/681)
License: AGPL-3

# Module description

This module allows you to define relationship types between companies, contacts and field service locations

# Configuration

To create relation types:

* Go to Contacts > Relations > Relation Types
* Review or create new types

# Usage

* Go to Field Servic

[2019-01-03 17:41] max3903 opened #89 "fieldservice"
# res.partner
- [x] Add a many2one field "Primary Service Location" (service_location_id) to fsm.location

# fsm.location
- [x] Add a smart button "Contacts" to show the contacts related to and children of this location
- [x] Add a smart button "Equipments" to show the equipments at this location and sublocations. The smart button only appears to the "Manage Equipments" group.

[2019-01-07 20:39] #67 closed

[2019-01-07 20:39] #66 closed

[2019-01-07 20:39] #65 closed

[2019-01-08 16:06] max3903 commented on #10
Replaced by the Primary contact on the location

[2019-01-08 16:06] #10 closed

[2019-01-08 16:09] #62 closed

[2019-01-08 16:12] max3903 commented on #82
Until base_geoengine gets merged, please use the pvm branch from https://github.com/ursais/geospatial/

[2019-01-08 16:12] #82 closed

[2019-01-08 16:13] max3903 commented on #86
Duplicates of #82

[2019-01-08 16:13] #86 closed

[2019-01-08 16:16] max3903 commented on #87
@jamesln92 Can you check again with the latest version please?

[2019-01-08 16:17] max3903 commented on #29
@dreispt Can we close this one?

[2019-01-10 05:42] jigneshjarsaniya commented on #87
@max3903 , I'm getting same issue with latest version as well.

[2019-01-10 06:23] bodedra commented on #87
@jamesln92 @jigneshjarsaniya

Can you replace your _'base_geoengine'_ module with these URL. https://github.com/asaunier/geospatial/tree/geoengine_reworked

[2019-01-10 07:07] jigneshjarsaniya commented on #87
@bodedra , I tried it but there is an error with that module as well.

      <field name="geo_field_id" ref="fieldservice.field_fsm_order_shape"/>
      <field name="name">FSM Order State colored custom</field>
      <field name="classification">custom</field>
      <field eval="6" name="sequence"/>
      <field name="view_id" ref="ir_ui_view_fsm_order_map"/>
      <field name="geo_repr">colored</

[2019-01-10 07:14] bodedra commented on #87
Yes. You need to wait or you may review at https://github.com/asaunier/geospatial/pull/1 Once that PR will be merged, no longer error will be face.

[2019-01-14 15:31] #87 closed

[2019-01-14 15:31] #29 closed

[2019-01-15 16:21] max3903 commented on #36
Assigned to @osimallen

[2019-01-22 16:17] Cybatrex opened #112 "NEW ORDER - BACK BUTTON REQUIRED"
**Operations > Order > New Order**

The tabs in the top row (Request) (Inventory) ----(Others)
<img width="615" alt="field-service-toprow" src="https://user-images.githubusercontent.com/28748254/51548842-2c7dfe80-1e37-11e9-95c0-9f8cd4e05ab1.png">

If you click inventory tab you cannot go backwards in the menu items if you select this by mistake.
<img width="1954" alt="field-service-inventory" src=

[2019-01-23 18:55] #5 closed

[2019-01-23 18:55] #36 closed

[2019-01-23 18:55] #88 closed

[2019-01-23 18:56] #89 closed

[2019-01-23 18:56] #16 closed

[2019-01-23 18:58] max3903 commented on #112
I can't reproduce this issue on Odoo Community or Enterprise. This looks like a limitation of your web customization...

[2019-01-23 22:51] #112 closed

[2019-01-29 01:24] brian10048 opened #124 "[BUG] Order onchange Template"
Create a new Order.

Set the template.  Onchange method causes error:
  `File "/opt/odoo/field-service/fieldservice/models/fsm_order.py", line 249, in _onchange_template_id
    self.todo += (self.template_id.instructions + '\n')
TypeError: unsupported operand type(s) for +=: 'bool' and 'str'`

[2019-01-29 01:42] brian10048 commented on #124
The type error can be avoided, but still using the `+=` would result in appending multiple sets of instructions from different templates if an order template gets changed more than once.

[2019-02-04 16:17] max3903 opened #128 "[ADD] fieldservice_location_builder"
License: AGPL-3
Dependencies: fieldservice

# Description

With the Field Service App, building out a site like an apartment complex with multiple buildings, floors, units can become cumbersome and tedious to build all the records. Even building an importable spreadsheet can be tedious to build, and new users will struggle with this.

This module is for organizations that needs to create the locat

[2019-02-04 16:38] max3903 opened #129 "[ADD] fieldservice_stock_location_builder"
License: AGPL-3
Dependencies: fieldservice_location_builder, fieldservice_stock
Auto_install: True

# Module description

This module sets the inventory location on the sub-locations when running the location builder wizard.

# Usage

See https://github.com/OCA/field-service/tree/11.0/fieldservice_location_builder#id1

[2019-02-04 17:44] max3903 opened #130 "[IMP] fieldservice"
# fieldservice

## res.config.settings

- [x] Add a boolean field "Manage Sub-Statuses" (module_fieldservice_substatus) to install fieldservice_substatus
- [x] Add a new section in the settings view to display the option

[2019-02-04 17:56] max3903 opened #131 "[ADD] fieldservice_substatus"
License: AGPL-3
Dependencies: fieldservice (#130)

# Module description

Odoo and the Field Service App do not provide a way to track what is required and/or missing at the different stages of the FSM order process. Some organizations needs a way to track documentation, materials, signature and various activities.

This module allows you to have a list of sub-statuses and set them as default or po

[2019-02-09 15:51] babatoko opened #136 "error when installing fieldservice"
Hi everyone,

I'm trying to install fieldservice today and i'm facing these error when installing the module onto a fresh new database.

Any chance to fix this ?

Cheers,

[code]

[2019-02-14 00:38] #131 closed

[2019-02-14 00:38] #130 closed

[2019-02-14 00:40] max3903 commented on #124
@brian10048 Thank you for reporting. I believe it is fixed in the latest version. Can you try updating?

[2019-02-14 00:48] max3903 commented on #136
@babatoko Thank you for reporting.

Can you check if you have the file `fieldservice/models/fsm_team.py`?
and check if it is listed in `fieldservice/models/__init__.py`?

FYI, it is working with the latest version. You may want to try updating.

Thanks.

[2019-02-14 06:19] bodedra commented on #124
Yes. it is fixed at https://github.com/OCA/field-service/commit/5acceed56e6430aa966fafece613234faeaee37d

[2019-02-14 12:24] babatoko commented on #136
Hi @max3903,

I have both files in place. I've updated odoo and after a restart, it works.

I think that you may close this bug and thanks for your help.

Cheers,

[2019-02-14 13:51] #136 closed

[2019-02-14 13:52] #124 closed

[2019-02-15 06:41] bodedra commented on #129
@max3903 Usage link is dead.

[2019-02-15 14:00] max3903 commented on #129
@bodedra It is meant to point to this content: https://github.com/OCA/field-service/issues/128

[2019-02-27 00:34] max3903 opened #142 "[ADD] fieldservice_stage_server_action"
Depends: fieldservice
License: AGPL-3

Odoo Field Service App does not provide a way to communicate with third parties within the process of an order.

Organizations may need to communicate with different contacts or workers to notify them, to get information or a decision from them.

This module provides a server action on each stage of the process so you can create child actions to send differen

[2019-03-07 03:01] brian10048 opened #144 "[IMP] fieldservice - Order Report Action"
Fieldservice app does not currently provide a way to produce a printable report of a field service order. Companies will need to easily produce a report of one or multiple service orders for their customers.

### Usage
* Go to Operations > Orders
* Select multiple orders
* Click for action Print > Order Record
* PDF for selected orders is generated

### Technical Specifications
* [x] Add report (P

[2019-03-11 14:00] max3903 commented on #144
@wolfhall Do you have some input on how the PDF should look like?

[2019-03-16 20:51] #144 closed

[2019-03-16 20:51] #12 closed

[2019-03-16 20:51] #13 closed

[2019-03-19 14:42] max3903 opened #162 "[IMP] fieldservice: multi-company"
# Todo

- [x] Add a many2one field "Company" (company_id) to:
  - [x] fsm.order
  - [x] fsm.vehicle
  - [x] fsm.equipment
  - [x] fsm.stage
  - [x] fsm.team
  - [x] territory
  - [x] branch
  - [x] district
  - [x] region

- [x] Add the field to the form views and display it only to the multi-company group
- [x] The field defaults to the company of the logged in user.
- [x] Add global record rules

[2019-03-28 06:53] babatoko opened #164 "Make work order recurrent"
I guess for many company or at least in my company, we do have recurrent work to do.

They can be as follow:

Work every 3 weeks
Work once a month the first week on Monday between 14:15 - 15:30.

Work can be everyday (weekdays Monday to Friday) for 2 hours except days such as Christmas or national days or any other legal days off.

Could be nice to get a wizard to make change on work order to set

[2019-03-28 09:36] brian10048 commented on #164
We have similar needs for recurring work orders.  Sometimes we have the same order template recurring on a set frequency and sometimes we have a series of different order templates that must be completed in sequence (which the series overall recurs annually).

My thoughts are to create a new data model that when configured will create new work orders with a cron task.

@max3903 if your team has an

[2019-03-28 15:09] max3903 commented on #164
# Option 1

I was thinking of extending product.template to allow to define a "calendar" of field service orders.

Similar to Google Calendar, the calendar can be defined as a list of:

Fields | Work every 3 weeks | Work once a month the first week on Monday between 14:15 - 15:30.
---------|----------------------------|-------------------------------------------------------------------------------

[2019-03-28 16:19] wolfhall commented on #164
# Option 2

In my original design, I used the term "Activities".  One Order has one or more activities.  Each Activity (or visit) has a duration, scheduled start and end as well as actual start and end. It also has a worker assignment.
Usually these fields are all inherited from the Order.
The order has a frequency field that sets daily, monthly, weekly, etc.  For this, we need a new object called

[2019-03-28 20:04] babatoko commented on #164
In my company we actualy use project and task (witch seems to be some sort of activities) as planner tool. A customer may have one or more project and project may have one or more tasks. The only things missing seems to be tasks reccurency or task management (assign new worker, change task date, etc)

For Each worker, we have a timesheet per week on witch we records task completion with the effect

[2019-03-28 20:19] babatoko commented on #164
From comments I understand that work order may be considered as template.

I think a work order may contain one or more activities.

Each activities get it's own time frequency and exclusion (national holiday, legal or religious days). It get also time schedule according the customer opening schedule. (Activities have to be done outside business hours)

Each activities has a worker assigned (if av

[2019-03-28 22:03] wolfhall commented on #164
following up on babatoko's comment:
We also started out using projects and tasks but quickly ran into limitations since tasks are not designed to tie to locations (an activity could be digging a trench at sub-location 1 and another activity may be installing solar panels in sub-location 2: all tied to the same work order)

We are working on a design for a mobile app as well - but we may not be abl

[2019-03-29 00:50] brian10048 commented on #164
I think we need solutions for both Options 1 & 2.

I agree we should extend product.template to have a link to fsm.order.template that creates a new order once the SO is confirmed.
What do you think about having the recurring configuration fields be on the fsm.order.template rather than the product.template?  The product.template and fsm.order.template link is more of a sales integration and somet

[2019-03-29 06:54] babatoko commented on #164
For my case, a SO could make a single activity and that SO will be invoiced after delivery or in most cases for my my, SO will be a contract with make my recurrent invoices for recurrent activities (managed manually as task in project).

[2019-04-02 17:29] max3903 opened #166 "[IMP] fieldservice: Location / Worker relation improvement"
# Background

When there is a list of multiple preferred workers on each location, there is a need to 'rank' the technicians. Most of the time, dispatch will usually send orders to a specific tech that has been marked as a primary tech and only when they aren't available they look at other preferred sources. The preferred tech list should be ordered on each location.

# Requirement

On a location,

[2019-04-03 14:23] brian10048 commented on #164
@max3903 @wolfhall @babatoko Any comments, suggestions, clarifications on this spec?  Anyone already working on this or planning something different?

# Recurring Work Orders

### Create a new module fieldservice_recurring

### Configuration

- Configure scheduled action frequency settings for company preference (default is daily)

- Setup your recurring order templates
  1. In fieldservice app go

[2019-04-07 06:41] babatoko commented on #164
Proposal looks good, and I would like to add the following comment.

Once recurent orders are booked, I Wish to have a wizard to change as exemple worker in charge by an other, update instruction or any other info onto work orders. It should be possible for all work orders in a period.

We should see work orders as in agenda view as well.

[2019-04-10 16:34] max3903 opened #180 "fieldservice: Admin user is not added to the FSM / Manager group"
On version 12

* Install the Field Service module
* After install, Field Service does not appear in the main menu

[2019-04-10 16:37] max3903 commented on #180
The FSM dashboard does not show the stages:
![Screenshot from 2019-04-10 11-37-30](https://user-images.githubusercontent.com/939952/55896916-0f7ae100-5b85-11e9-9d2c-2df4dbc647a3.png)

[2019-04-10 18:33] babatoko commented on #164
Hello, great start indeed and as you mention it's a work in progress.

I didn't figure out yet how I can set worker order frequency in my following use case.

One of my customer request me to service him every of weekdays except for even week we work 4 days (M,T,T,F).

Would be great to implement some sort of exclusion mechanism.

In my business, we rely strongly on time based on customers busines

[2019-04-10 20:05] babatoko commented on #164
A quick look at the subscription's tryton module showing the recurrence Rule

It defines combination of rules which compute the occurrence dates.

Name: The name of the rule.

Rules:

Exclusive: Define if the rule excludes the resulted dates.
Frequency: Daily, Weekly, Monthly, Yearly.
Interval: The interval of the frequency
By Week Day: Defines the list of weekdays where the recurrence will be app

[2019-04-10 22:00] brian10048 commented on #164
Thank you for this.  I understand what you are trying to accomplish.  This will definitely help me develop the idea further!  I hope to have completed some more fully featured improvements over the next several days

[2019-04-11 11:58] murtuzasaleh commented on #180
@max3903  #181

[2019-04-16 13:36] #162 closed

[2019-04-16 13:36] #180 closed

[2019-04-17 17:09] elhamdaoui opened #184 "Code Error"
Hi,
did this code  worked for you ?!
I never saw it in odoo ORM !! Serach parameter must be a list of domaines.

    fsm_equipment = self.env['fsm.equipment'].search(
                'maintenance_equipment_id', '=', request.equipment_id)

[2019-04-17 17:55] elhamdaoui commented on #184
In branch 11.0 there is many code errors.

[2019-04-17 19:57] max3903 commented on #184
@elhamdaoui Can you provide those code errors? and even provide a fix for some of them?

[2019-04-18 03:09] elhamdaoui commented on #184
Hi @max3903
Below some errors :
At 11.0/fieldservice_maintenance/models/maintenance.py:25

    fsm_equipment = self.env['fsm.equipment'].search(
            'maintenance_equipment_id', '=', request.equipment_id)
Must be (I think this error is solved)

    fsm_equipment = self.env['fsm.equipment'].search([
            'maintenance_equipment_id', '=', request.equipment_id.id)])

And at 11.0/fieldser

[2019-04-18 11:27] Ilyasse-ouza8 opened #186 "maintenance"

[2019-04-18 11:37] #186 closed

[2019-04-18 20:37] sapentia opened #187 "V 11 Day routes - Expected Singleton"
Hi

testing the v11 verison on a clean install ubuntu 16.04.
create 2 orders.
create a day route record
add first to the day route, ok
attempt to add second one to Day Routes record. I get a 'expected singleton' error.
is this an issue or just not completed yet?

[2019-04-20 01:17] digitalliuzg opened #188 "MRP Repair v12 ValueError: <class 'TypeError'>......"
Odoo Server Error
Traceback (most recent call last):
  File "E:\odoo\odoo\tools\safe_eval.py", line 350, in safe_eval
    return unsafe_eval(c, globals_dict, locals_dict)
  File "", line 1, in <module>
  File "<decorator-gen-61>", line 2, in button_immediate_install
  File "e:\odoo\odoo\addons\base\models\ir_module.py", line 73, in check_and_log
    return method(self, *args, **kwargs)
  File "e:\

[2019-04-20 01:22] digitalliuzg opened #189 "install Maintenance v12 TypeError: ......"
Odoo Server Error
Traceback (most recent call last):
  File "odoo\odoo\http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "odoo\odoo\http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "odoo\odoo\tools\pycompat.py", line 87, in reraise
    raise value
  File "odoo\odo

[2019-04-20 02:23] #189 closed

[2019-04-20 02:24] #188 closed

[2019-04-20 18:42] brian10048 commented on #187
This is an issue.  I have duplicated the error by following similar steps.

Here is the traceback received when attempting to Save the Day Route.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo11/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo11/odoo/http.py", line 310, in _ha

[2019-04-21 21:27] xAlphaOmega opened #190 "Checkbox to Streamline Field Service Worker Creation"
**New Request**

Create "Field Service Worker" Checkbox under employee. When box is checked the employee will appear in dropdown list to be imported as field worker. This would help streamline the process and make it more efficient. If there is a better way to impliment this feature than fantastic also.

### **ADD CHECKBOX TO EMPLOYEE TAB**

![Employee checkbox](https://user-images.githubuserconte

[2019-04-24 06:53] max3903 opened #196 "fieldservice_geoengine"
- [ ] FSM User group inherits Geoengine User
- [ ] FSM Admin group inherits Geoengine Admin
- [ ] The FSM Order map view is missing the vector layer: https://github.com/OCA/field-service/blob/11.0/fieldservice/views/fsm_order.xml#L406

[2019-04-24 06:55] max3903 opened #197 "fieldservice_maintenance"
- [x] Creating a FSM Order of type "Maintenance" does not create a maintenance request

[2019-04-24 12:07] murtuzasaleh commented on #196
@max3903 It means can I create Geoengine User and Geoengine Admin groups, Sorry can you please explain me?

[2019-04-24 14:06] murtuzasaleh commented on #197
@max3903 We missed one comment of previous closed PR, Can you please check this link. [fieldservice_maintenance](https://github.com/OCA/field-service/pull/176#issuecomment-480317666)

Below is the error when I don't add this condition `if order.equipment_id and not order.equipment_id.is_fsm_equipment:`

![fieldservice_maintenance_issue](https://user-images.githubusercontent.com/20418904/56665697-2

[2019-04-24 19:40] max3903 commented on #196
Those groups are already created by the base_geoengine module. You just
need to add the inheritance so the FSM groups can use the mapping features.

El mié., 24 de abr. de 2019 08:07, Murtuza Saleh(SerpentCS) <
notifications@github.com> escribió:

[2019-04-29 06:44] murtuzasaleh commented on #197
@max3903 Can you please check this [comment](https://github.com/OCA/field-service/issues/197#issuecomment-486250987) so we can complete this issue.

[2019-04-29 17:28] max3903 commented on #190
Let's do a server action to convert employee(s) to Field Service worker. Like we did on a contact.

[2019-04-29 18:19] max3903 commented on #197
@murtuzasaleh Can we avoid this recursivity using the context?

When creating a fsm.order of type maintenance, create a maintenance request with `fsm_order = True` in the context.

When creating a maintenance request, if the equipment is an fsm equipment and `fsm_order = False` in the context, then create a `fsm.order`, otherwise don't.

[2019-04-29 23:32] brian10048 opened #202 "Field Service Product"
## Improvements for fieldservice_sale (and fieldservice_purchase)

Companies need the ability to provide quotations for products that are provided via execution of a field service order.  Similarly, these products may need to be purchased from vendors via RFQ and purchase orders.

### Requirements
Extend `product.template` with relationship to FSM order template
Confirmation of sale order (purchas

[2019-04-30 13:41] max3903 commented on #202
# fieldservice_sale

I would not change the `type` on product.template.

On the Sales tab of the product, I would add:

* the option to create a Field Service Order (like the different options with Project: create a task, create a project, etc)
* the option to select a FS Order template or a FS Recurring Order

# fieldservice_purchase

I would replace the request workers field on fsm.order by a li

[2019-04-30 14:22] brian10048 commented on #202
Sounds good.  I will work on sale first

[2019-04-30 20:06] #197 closed

[2019-05-03 16:32] patrickrwilson opened #204 "Question: Location Infrastructure"
I'm proposing a question to see if this would be a useful module for OCA or if it's too specific for our own company needs. Your feedback is useful and if you all feel like this would be a useful module I can submit a PR for it.

We have the need to add fields that relate to infrastructure which include:
- Building Type = Garden, High Rise, Mid-Rise, etc
- Construction Type = Wood Frame, Concrete,

[2019-05-08 05:03] murtuzasaleh commented on #196
@max3903 Can you please close this issue.

[2019-05-08 13:37] Selectsolution opened #205 "TypeError: Model 'fsm.category' does not exist in registry."
module: fieldservice_skill
version: 11.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2019-05-08 13:47] bodedra commented on #205
IMO It's invalid. Please try with updated code.

fieldservice_skill is depend on fieldservice module.

fieldservice module has declared fsm.category object. Here is reference: https://github.com/OCA/field-service/blob/11.0/fieldservice/models/fsm_category.py#L8

[2019-05-08 23:16] MarkingSC commented on #1
Hello @max3903 , could you please share the Technical Specifications document?

[2019-05-09 13:32] max3903 commented on #1
@MarkingSC Please try to access the document and request access as I don't have your email address.

[2019-05-13 12:42] bodedra commented on #205
@max3903 Seems we may close these.

[2019-05-13 14:09] #205 closed

[2019-05-15 00:13] brian10048 commented on #164
Closed with #179

[2019-05-15 00:13] #164 closed

[2019-05-15 00:18] brian10048 commented on #184
Anything mentioned here has been resolved in 11.0 and 12.0

[2019-05-15 00:18] #184 closed

[2019-05-15 13:16] max3903 commented on #15
Anyone available to migrate `fieldservice_recurring`?

[2019-05-18 21:16] babatoko opened #210 "Error when selecting location in new work order"
Here is an error when selecting location for a new new work order.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exce

[2019-05-20 05:38] murtuzasaleh commented on #15
I am, Can I start work on it?

[2019-05-20 14:34] max3903 opened #213 "[ADD] connector_voicent_fsm_order"
Depends on https://github.com/OCA/connector-telephony/issues/186

# Description

Odoo Field Service App does not provide an automated way to trigger phone calls when an order reaches a specific stage in the process.

For companies with a large number of tickets or when a ticket impacts many people, calling everyone one by one is a time-consuming option.

This module aims to automate calls to custo

[2019-05-21 13:34] rdc02271 opened #218 "Field Service functionalities for "informal" relation with customers"
Hello,

Warning: I am newbie to the Odoo / python worlds.

In my opinion the field service world is divided in two groups: the formal and the informal.
In the formal group, field service companies have contracts with their customers (usually companies) that specify what equipment will be serviced, how long it should take (Service level agreement), labour costs,etc.

In the informal group, field se

[2019-05-24 13:12] rdc02271 opened #220 "Order : Description value is deleted everytime we change the location field."
Hello,

Steps to reproduce problem:
1) Create a new Field Service Order
2) Write something in the Description field (fsm.order.description)
3) Select a Location (fsm.order.location_id)
4) The Description content disappears.

Thank you,
Jorge C

[2019-05-26 07:15] kittiu commented on #187
@max3903 I got the exact same error on same test on v12 too.

[2019-05-27 14:29] max3903 commented on #218
Hello @rdc02271,

Thank you for your explanation. Assuming you are in the informal world, as you said you have no info of the equipment, so why do you want to show information you don't have?

To answer your technical question, you can have related fields on the order to display information of the equipment:
https://www.odoo.com/documentation/12.0/reference/orm.html#related-fields

[2019-05-27 15:45] rdc02271 commented on #218
Dear Sir,
Thank you for replying.
Yes, as you have said when we get the call we don't have the equipment data. But the customer will tell us basic information like "Equipment Type: Washing Machine, Dishwasher, Home Cinema, HVAC" , "Manufacturer" and sometimes ( if we are lucky ) the "Model" and "Serial Number".

So you ask, what is your goal ?
Simple, speed up data entry for equipments.

1) I don'

[2019-05-27 16:11] rdc02271 commented on #218
Hello again,
I forgot to mention one key point: my end goal is to edit in place the equipment data, right there in the work order form.

Also, should I post these questions here or somewhere else ?

Thank you,
Jorge C.

[2019-05-27 16:36] rdc02271 commented on #218
Hello again,

Please, allow to talk about our company works.
We are a retail store/repair worksho that sells and repairs electronic equipment: Ar conditioners (HVAC),  led televisions, induction cooktops, home cinema, kitchen hoods, etc.

We have technicians working full time at the workshop (they never leave the workshop) and we also have  field technicians doing installations and repair work at

[2019-05-27 23:54] max3903 commented on #218
@rdc02271 I would create:

* a wizard with fields for all the info you can get. Upon saving, the info would be stored in the different models (order, equipment, location, etc). Next screen you show to the user is the form of the created order. No need for related fields to the equipment on the order.

* a menu item to call the previous wizard

[2019-05-29 14:59] #187 closed

[2019-05-29 15:39] #210 closed

[2019-05-30 15:38] pacodrz opened #228 "error in the installation"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/tools/cache.py", line 88, in lookup
    r = d[key]
  File "/odoo/odoo-server/odoo/tools/func.py", line 69, in wrapper
    return func(self, *args, **kwargs)
  File "/odoo/odoo-server/odoo/tools/lru.py", line 44, in __getitem__
    a = self.d[obj].me
KeyError: ('ir.model.data', <function IrModelData.xmlid_lo

[2019-06-07 20:42] babatoko commented on #15
@murtuzasaleh,

I would say yes as the 11 version didn't change since 24 days and I would like to test with the last changes.

Many Thanks

[2019-06-19 18:43] rdc02271 opened #242 "Question: Why aren't the Workers/Technicians not Partners/Employees ?"
Hello,

One quick question:

Why aren't the Workers/Technicians a  Partner/Employee?
How will you keep track of employee work hours? Timesheets?
Isn't that repetitive and a bit confusing.

When we create a Work Order and then confirm it we must specify the "Assigned to" field. In theory this would be a technician/worker which is different from an Employee/Partner.
Thus we have to create and mainta

[2019-06-19 19:34] wolfhall commented on #242
Jorge,
Workers are derived from Partners, so there is a relationship.  but they have many additional attributes that are specific and are not needed on all partner records.  That's why we have a separate entity.
For employees we use timesheets.  for contractors we can use start and end time on jobs.
A FSM person has a matching partner record.  so you don't have to keep track separately.
Requested

[2019-06-20 10:05] rdc02271 commented on #242
Hello,
Thank you mr. Wolfhall for the explanation. Things are clear now.

Two questions:

1)Is there any plans to allow the user to specify that a FSM worker is also an employee?
At this moment we are unable to link the FSM worker to the Employee record.

2) By default whenever we create a FSM worker the flag res.partner.customer is set to TRUE.
Is there any specific reason to do this?

Thank you,

[2019-06-20 15:51] dreispt commented on #242
I see relevant being able to use Timesheets for external Workers, even if for that "dummy" employees need to be created.

I've seen Worker teams having both employees and contractors, and in this case we would like our business process to be the same regardless of the "type" of worker,

[2019-06-20 19:18] rdc02271 commented on #220
Hello,
Just to confirm: the fsm.order.description is the field where we should write the malfunction of the equipment, correct? We would write on this field the problem description, something like, "The oven doesn't heat up". Right?

I am asking this because I was looking at the https://github.com/OCA/field-service/blob/12.0/fieldservice/models/fsm_order.py when I noticed the "Description" field i

[2019-06-20 19:27] max3903 commented on #220
Ping @patrickrwilson

[2019-06-20 19:57] patrickrwilson commented on #220
I believe the on-change event on the location field is overwriting the description with the directions from the location when the location changes. The original thought behind this is that each location may have specific directions the field worker follows each time a order is created for that location (could contain things like "Needs 24hr notice before entering" or "Front Gate Pin: 1234"). I agr

[2019-06-21 08:04] wolfhall commented on #220
I like the idea to display location instructions on the order in addition to the order instructions.
I would probably post it below the order instructions, if few locations have instructions and above if most locations have a description.

[2019-06-21 09:06] wolfhall commented on #242
Daniel is right, we should have separate timesheets for non-employee workers.
To Jorge's questions:
1) currently the FSM worker record is tied to the partner record which indicates 1099 (contractor).  if it is not a 1099, then it should be an employee.  But I don't think this is enforced.  We could improve this a bit and do some of these changes:
a) allow partner record to be opened directly from

[2019-06-26 05:02] kittiu commented on #15
@max3903 I am interested in this project. Can I help migrate this -> fieldservice_recurring
Any suggestion
@kittiu

[2019-06-26 08:37] max3903 commented on #15
@kittiu Sure. The only suggestion would be to follow the Todo instructions at the top of this issue.

CC: @brian10048

[2019-06-26 15:58] brian10048 commented on #15
@kittiu, I can help answer any questions on the functional aspects of the fieldservice_recurring module.  I have not had any time recently to actually work on the migration myself.

[2019-06-27 02:47] kittiu opened #252 "Question about status of this project, how about adding test script?"
Hi all, cc @max3903

Sorry for the mixed question. I am interested in this project, and want to help out in some way. When I start to migrate module "fieldservice_recurring", but notice that most modules has no test script, and so, with zero knowledge in this field it is hard to do migration.

I wonder if it is a good idea for your team if I start by adding test scripts and/or README to learn more

[2019-06-27 13:35] max3903 commented on #252
@kittiu

You will find some documentation here #1.

Adding tests would be a great contribution and allow us to raise the development status from beta to stable.

1. Yes and yes. We are starting to implement those modules for different customers without any changes.
2. You can count on @wolfhall, @osi-scampbell and @max3903 to the extent limited by our schedule. I can't speak for @brian10048 .
3. Y

[2019-06-27 13:57] brian10048 commented on #252
I can help answer questions and improve the README documentation.  This should help @kittiu in writing the test scripts.

Some demo data would also be a good addition related to this cause.

[2019-06-28 01:44] kittiu commented on #252
Hi everyone,

Thanks for the kind response. @brian10048 I can focus on the fieldservice_recurring first, if you could add more detailed steps in readme, that would be great. But not to worry, I would also read through the code and ask more questions if I don't understand. ;)

[2019-07-02 18:39] #142 closed

[2019-07-02 18:42] max3903 commented on #228
@pacodrz Can you indicate which version of Odoo you are using? Can you try installing the latest version of the fieldservice module?

[2019-07-02 18:43] max3903 commented on #242
@wolfhall 1099 is US-specific. We want to use the "Is a Vendor" checkbox...

[2019-07-03 03:40] kittiu commented on #252
Hi everyone,

As @brian10048 mentioned about data. I do agree, as fieldservice (base) seem to relate to many master data. May I ask if it is possible for me to get some good master data (I also not sure what will make sense), may be as .csv or .xml, or even database with removed transaction.

But if not possible, I can also create some fake data, i.e., Territory 1, Territory 2, etc to work with.

[2019-07-03 05:10] kittiu commented on #252
Hi, given the above question still valid. I just continue working on https://github.com/OCA/field-service/pull/257
I am adding test for fsm_equipment,
- What are the good sample of equipment's stage ?
- Should it be data like in order's stage, or it should be demo only ?

[2019-07-03 13:05] wolfhall commented on #242
@max3903 agreed

[2019-07-04 04:05] KJAgit commented on #242
Hi,
Is there any way you could have the option to create a FSM Worker from an EXISTING Partner OR create a new partner?
The check boxes for "Is a FS Worker" are there under an existing partner, but are disabled.

[2019-07-04 04:27] wolfhall commented on #242
Yes, it is not very intuitive, but you can convert a partner record to FSM Worker by using the action "convert to FSM record"
Then pick "worker" as the record type.
It would be nice to convert a partner to FSM worker or location by simply clicking the checkbox.

[2019-07-04 11:10] kittiu opened #263 "[12.0][BUG] fieldservice, possible bug for equipment_count in fsm.location"
I have equipment - 1,2,3 in location 1,2,3

![image](https://user-images.githubusercontent.com/1973598/60662415-84a93a00-9e86-11e9-9f4f-e6c539ce097b.png)

My location are hierarchy as following : Test Location > Location 1 > Location 2> Location 3
So, I would expect the equipment_count to be as following, but it is not.
**Note:** The smart button to show equipments seem valid

![Selection_131](htt

[2019-07-05 01:48] kittiu commented on #263
Am I understand correctly that, the desired behavior is that, the parent will count all the equipments for all its child location?

Currently, it seem to count only 1 level below it. So which is correct?

[2019-07-05 02:48] kittiu commented on #263
Here is the assert, which I think it is not correct. Should it be 9, 8, 7, 2
https://github.com/ecosoft-odoo/field-service/blob/12.0-imp-fieldservice_add_test/fieldservice/tests/test_fsm_location.py#L113

[2019-07-05 05:08] kittiu opened #264 "[12.0][BUG] Method not used, self.env['fsm.person].get_person_information(vals) ?"
I see the method is not being called. And also param vals is not being used in the method.
Is this method still valid?

[2019-07-05 05:19] kittiu opened #265 "[12.0][BUG] Advance search for Linked Location throw error"
Steps:
- Open Workers and do advance search for linked location
- Error as following,

![image](https://user-images.githubusercontent.com/1973598/60699663-22504800-9f1f-11e9-92d1-995dbd0d348c.png)

![image](https://user-images.githubusercontent.com/1973598/60699658-1ebcc100-9f1f-11e9-848b-9bfde228ddc3.png)

[2019-07-05 10:49] kittiu opened #266 "[12.0][BUG] set Order's Scheduled Start (ETA) to false, throw error"
Steps:

* New Order -> Save, Scheduled Start (ETA) will be set automatically.
* Edit and set  Scheduled Start (ETA) to nothing -> Save
* Error

![image](https://user-images.githubusercontent.com/1973598/60717834-3448df80-9f4d-11e9-9420-77353cc4967a.png)

[2019-07-07 06:54] kittiu opened #271 "[12.0][BUG] fieldservice_account, error when create new Work Order"
**Steps:**

- Install fieldservice_account
- Create new work order without selecting Bill To
- Error

**Note:** This problem only occur if bill_to is using widget="radio". Not sure it is a core Odoo bug or not.

![Selection_143](https://user-images.githubusercontent.com/1973598/60765092-c8868400-a0be-11e9-99d1-2026567b864b.png)

[2019-07-07 10:00] kittiu opened #272 "[12.0][BUG] fieldservice_account, total_cost raise error by some employee in timesheet"
During writing test script I found following error when print order.total_cost
[code]
Currently, we don't see the error on Work Order screen because,
1. User may choose the employee with user_id, AND
2. field "total_cost" is not show in the view, and so the method _compute_total_cost() is not called.

**Steps to Error**

1. First, we need to modify view **fieldservice_account.fsm_order_form_accoun

[2019-07-11 12:42] brian10048 commented on #264
It looks like it is used in the javascript here.

https://github.com/OCA/field-service/blob/685ad65ee5b5bf8e7511e0d9dbaf05da0db06e98/fieldservice/static/src/js/fsm_gantt.js#L41

I believe @smangukiya is familiar with this

[2019-07-11 15:13] smangukiya commented on #264
@kittiu @brian10048 Thank you for your input on this.
Yes, 'get_person_information' method is getting called from Javascript to get person information in structured form of dictionary and it is useful in fsm_gantt.js for further processing.

I hope it helps to understand it more.
Thanks

[2019-07-11 15:17] kittiu commented on #264
Thank you all. So I may close this.

[2019-07-11 15:17] #264 closed

[2019-07-12 09:14] kongrattapong opened #277 "[12.0][BUG] fieldservice_purchase"
**Step:**

- Field Service -> Master Date -> Workers
- Create new
- and then in worker view I already have 1 Pricelist that I never select.
![Wood Corner - Odoo - Google Chrome_014](https://user-images.githubusercontent.com/52144935/61117108-0a993680-a4c0-11e9-8b0b-fcfdf66afee6.png)

[2019-07-13 03:01] kittiu opened #278 "[12.0] Add Test Scripts"
Keep track of fieldservice modules' test scripts.

[12.0 Coverage](https://codecov.io/gh/OCA/field-service/branch/12.0)

- [X] fieldservice @kittiu https://github.com/OCA/field-service/pull/257
- [X] fieldservice_account @kittiu https://github.com/OCA/field-service/pull/273
- [ ] fieldservice_account_analytic
- [ ] fieldservice_account_payment
- [x] fieldservice_activity
- [X] fieldservice_agreeme

[2019-07-14 03:55] sbinmahfooz opened #279 "Module field service not installing"
Hi, I have installed all prerequisites, etc.. the field service module still not installed with a message 'Cancel Install'

[2019-07-14 05:08] kittiu commented on #279
I installed without problem. Can you explain what you did in derailed steps and may be attach piccture of error

[2019-07-14 06:14] sbinmahfooz commented on #279
Hi Kittiu, ihave used the sudo getw command do download from App Store, unzipped it, then installed it
![image](https://user-images.githubusercontent.com/52846567/61180010-9e314b00-a617-11e9-8d63-c181a1e3aaed.png)

there is no specific error, only not installed and no views or menus created

[2019-07-14 12:48] max3903 commented on #279
@sbinmahfooz Can you provide the Odoo log file when you install fieldservice?

[2019-07-14 16:03] sbinmahfooz commented on #279
Sorry, how to get the log file?

[2019-07-14 18:01] sbinmahfooz commented on #279
resolved, thanks, I have uninstalled, deleted and installed the module and the dependencies, the issue was I believe in web timeline and partnerfax

[2019-07-14 18:01] #279 closed

[2019-07-14 21:55] babatoko commented on #242
Hi @Wofhall,

I still don't understand why workers are derivated partner  instead of employe.

Would you clarify please?

[2019-07-15 00:41] brian10048 commented on #242
@babatoko In many field service companies the worker is not always an employee.  A company may hire a vendor to perform the field service work.  This vendor is not a direct employee of the company.  The vendor may be another company altogether and therefore needs to be derived from the partner model

[2019-07-15 01:28] wolfhall commented on #242
@babatoko - Brian has the right answer - I also pointed this out in the posts above.  We have mobile workers who may or may not be employees.  We are also soon releasing a non-OCA mobile app to allow field services mobile access for Odoo users.

[2019-07-15 08:15] babatoko commented on #242
@wolfhall, thanks for replying,

In other hands, how do you manage worked time against planned time?

Would it be possible to track time on each work order, by customer and so on.

You referre to a mobile app, would it be possible to be beta tester?

[2019-07-15 08:42] wolfhall commented on #242
@babatoko Each order has a duration for planned time.  Also, each order has a actual start and end time and duration (under the execution tab).  With these values a comparison is easy.

[2019-07-15 19:34] babatoko commented on #242
@wolfhall

How do we do to manage a work order with have to be .are by 2 or more employees. How workers record their worked time against the work order?

Currently, in my company we use timesheet to record all worked time against project task and reuse pivot report from timesheet, attendance and project.

A project in my case, should be substiued by contract or agreement module.

[2019-07-15 20:30] wolfhall commented on #242
@babatoko  Currently we can only assign a single worker to a Service order.  But multiple techs can log time to the order.
On the Order form we have an accounting tab that links to the employee timesheet.  anybody can log hours here, including multiple workers.

[2019-07-16 08:51] sbinmahfooz opened #281 "Field Service Business Case"
module: fieldservice
version: 12.0
Hi, i wanted to check the applicability of a business case using the FSM app, since i am new to it.
Objective of the Business Case: is to facilitate the deliveries of the products i produce on daily basis to the customers in different location. with features like customer notification, route optimimzation, planning, etc...
i believe the system encompas most of th

[2019-07-16 16:02] wolfhall commented on #281
@sbinmahfooz
The FSM module does most of these items, but we have not implemented the rules-based assignments yet.  that is coming later this year.  But the user can see skill levels and requirements for delivery (e.g. needs a forklift) apply rules.
Customers receiving product can be done via e-signature.
We also offer a mobile tool (not in OCA) to help with order management and signature at a cus

[2019-07-16 16:25] max3903 opened #282 "[ADD] fieldservice_account_asset"
Depends: fieldservice_stock, agreement_serviceprofile, account_asset_management
License: AGPL-3

# Description

This module aims to link the FSM equipment with its accounting asset and allow tracking of its depreciation.

# Usage

* Go to Field Service
* Create an equipment and select its asset category
* Saving the equipment creates:
  * a new asset based on the information from the category
  *

[2019-07-17 16:11] max3903 opened #285 "[IMP] fieldservice"
# res.config.settings

- [ ] Add a boolean field "Auto-populate the equipments on the order based on the content of the location". The option is showing up only if "Manage Equipments" is activated.

# fsm.order

- [ ] Based on the previous settings, when the location is changed, populate the equipment_ids field with the equipments stored in that location (using the current_location_id field)
- [ ]

[2019-07-17 18:55] sbinmahfooz commented on #281
@wolfhall Thanks for the input, I will work something and once ready will develop the business case and share

[2019-07-17 21:38] max3903 commented on #271
@kittiu Please update your code. I believe it has been fixed with a default value.

[2019-07-17 21:42] #204 closed

[2019-07-17 21:44] max3903 commented on #17
@dreispt Can we close?

[2019-07-17 23:15] #282 closed

[2019-07-18 00:02] #271 closed

[2019-07-18 00:46] kittiu commented on #271
Thank you

[2019-07-18 22:34] brian10048 commented on #278
@max3903 How does it work to setup the coverage checks now that tests are being worked on?

[2019-07-18 23:23] max3903 commented on #278
@brian10048 This is automated here:
https://github.com/OCA/field-service/blob/12.0/.travis.yml#L42
and there:
https://github.com/OCA/maintainer-quality-tools/blob/master/travis/travis_after_tests_success

[2019-07-23 18:07] max3903 opened #295 "[IMP] Multi-company"
The current FSM modules are not multi-company. This issue is about adding the multi-company layer on top of the current modules set.

# fsm.order

- [x] Add a many2one field "Company" (company_id) to res.company.
- [x] Show the field on the form view to the multi-company group
- [x] Add the global record rule to show orders of the current company, its children and the unassigned ones.

# fsm.team

[2019-07-23 18:08] max3903 commented on #295
CC: @wolfhall

[2019-07-26 14:55] max3903 opened #297 "[ADD] fieldservice_stock_account"
If inventory items were delivered to a customer location, the delivery will generate an accounting entry in the stock output account. The balance of that account will keep increasing as those inventory items will not get invoiced.

This module allows you to automatically adds inventory items delivered as part of the field service order to a customer invoice to account for their value as a cost of

[2019-07-26 16:44] max3903 opened #298 "[ADD] fieldservice_stock_account_analytic"
This module uses the analytic account of the field service location to set the analytic account on the deliveries. It allows you to report on the stock output account by analytic account.

# Usage

FSM Location

* Go to Field Service > Master data > Locations
* Create or select a location
* Check that the inventory location is a Customer location
* Go to the Accounting tab
* Set the analytic accou

[2019-07-26 20:28] #228 closed

[2019-07-26 20:29] #15 closed

[2019-08-06 13:36] #265 closed

[2019-08-06 13:36] #272 closed

[2019-08-06 13:36] #263 closed

[2019-08-06 13:37] #277 closed

[2019-08-06 13:37] #266 closed

[2019-08-06 19:11] barnarj opened #306 "Filter Out Templates in fsm.order.agreement.form"
In the select field 'agreement_id' it would be nice to have agreement templates filtered out from the results.

Proposed Solution:
[code]

[2019-08-06 20:38] barnarj opened #307 "JS Error when contact has multiple addresses"
### Customer has multiple addresses

![image](https://user-images.githubusercontent.com/37902375/62575043-db2fdc80-b867-11e9-963e-e8290e63bf83.png)

### Primary Contact:
![image](https://user-images.githubusercontent.com/37902375/62575092-f69ae780-b867-11e9-8bcc-9438adf95b1d.png)

### Secondary Address:
![image](https://user-images.githubusercontent.com/37902375/62575127-0b777b00-b868-11e9-9ab9-ec

[2019-08-12 09:57] hparfr opened #309 "[12.0] Remove stage logic from fieldservice.fsm_order"
In v12, stages are rigid and logic is hardcoded in the main module (fieldservice). It leave fieldservice not generic enough.

I see a migration path to a cleaner module in two steps:

 -1) Decouple: move the actual code in a new module like fieldservice_default_workflow.

 -2) Improve: change the design to allow flexible workflows, add optional stages, support different teams, and configurable log

[2019-08-12 09:59] hparfr commented on #309
@max3903 @dreispt @brian10048

[2019-08-12 13:22] max3903 commented on #309
Ping @wolfhall

[2019-08-12 13:23] max3903 commented on #309
@hparfr Can you provide more information about your situation and workflow?

[2019-08-12 13:58] hparfr commented on #309
My clients work in :
- maintenance of fleets of vehicles
- building / industrial cleaning
- caretaker
- surveillance
- other B2B services.

UC 1):
The company has only one specialized truck and one driver. There is no need to have to "assign" the workorder to this guy since the information can be deduced from other fields.

UC 2):
The order are scheduled during the sale, so there is no need to hav

[2019-08-12 14:24] wolfhall commented on #309
@hparfr,
You are right that the current logic does not work in all cases.  It was designed to match the majority of use cases we encountered.

I like the idea to make this more flexible and integrate a rules engine that allows the free definition of stages and conditions to move from one stage to the next.

Let me think about this.   We just need to make sure we don't break existing functions sinc

[2019-08-12 14:25] wolfhall commented on #309
Some of your very simple workflows may also be covered by the new Odoo Field Service functions

[2019-08-16 23:41] DatenSAS opened #310 "Deploy in Odoo.sh V11"
I get this error

2019-08-16 23:33:42,947 14 ERROR datensas-fieldservice11-app-fieldservice-stock-538725 odoo.sql_db: bad query: b'\n CREATE EXTENSION postgis;\n CREATE EXTENSION postgis_topology;\n '
ERROR: could not open extension control file "/usr/share/postgresql/10/extension/postgis.control": No such file or directory

2019-08-16 23:33:42,952 14 WARNING datensas-fieldservice11-app-fieldservi

[2019-08-17 00:45] brian10048 commented on #310
@datensas you will need to install PostGIS in order to use v11. It is not possible to install PostGIS on the odoo.sh platform.

You can use v12 field service without the geoengine on odoo.sh

[2019-08-17 01:10] DatenSAS commented on #310
Thanks

[2019-08-17 01:11] #310 closed

[2019-08-17 02:34] DatenSAS opened #311 "Outbound / Inbound Transfer boxes"
Hi,

In a Odoo.sh V12 installation, I'm not able to find the boxes that are referred in the configuration instructions from the App Field Service - Stock

- Check the box ‘FSM Order Line’ for outbound transfer
- Check the box ‘FSM Return Line’ for inbound transfer

[2019-08-20 08:45] hparfr opened #312 "[12.0] fieldservice_recurring don't create order on confirm"
I guess it's the same for previous versions, but.

Create a frequency like : Every Monday, weekly.
Create a recurring order with this frequency on Friday, and confirm it.
An order will be created on Friday (datetime.now()).

The date of this order is not compliant with the frequency defined.

I suggest to remove _create_order from action_start and let the cron create the orders.

[code]
https://gi

[2019-08-20 13:10] brian10048 commented on #312
@hparfr I agree this is an issue.

Could we improve it so that the first order is still created, but with a date that is compliant?

[2019-08-20 13:16] hparfr commented on #312
Why create only one order ?

[2019-08-20 13:21] brian10048 commented on #312
I don't see a problem creating all the orders

[2019-08-21 00:17] #312 closed

[2019-08-21 15:56] kvedder-amplex commented on #306
@osi-scampbell

[2019-08-21 16:02] osi-scampbell commented on #307
@barnarj Tested with @kvedder-amplex and the error does not appear. This could have been a data/database error. If you can replicate the error consistently let me know, closing issue for now.

[2019-08-21 16:46] brian10048 commented on #311
@DatenSAS I believe the problem is that the readme instructions need to be updated

[2019-08-21 17:01] #295 closed

[2019-08-21 17:02] #297 closed

[2019-08-21 17:02] #298 closed

[2019-08-21 17:59] #307 closed

[2019-09-05 09:31] fdesrosiers3 opened #328 "Error when click on Field Service Button"
Odoo Server Error
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo/odoo-server/odoo/tools/pycompat.py", line 87, in r

[2019-09-05 09:47] fdesrosiers3 opened #329 "Error when Apps/Update Field Service App in Odoo V12"
After the 1st error, I tried to find out why the error occured.
Install field_service, field_service_repair, field_servce_accout, etc.

I go to update the module in Odoo v12.  I get the error

Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/models.py", line 1108, in _validate_fields
    check(self)
  File "/odoo/odoo-server/odoo/addons/base/models/ir_ui

[2019-09-05 14:57] hparfr opened #331 "12 remove fsm_location.billing_id from fieldservice module"
On the main module, there is this required field :
[code]
https://github.com/OCA/field-service/blob/12.0/fieldservice/models/fsm_location.py#L19

I propose to move this field out of the main module because it's not generic enough.

The billing customer can come from:
- sale
- agreements
- contracts ?
- project ?

And the same location can be billed to different customers. Like the owner of the wal

[2019-09-05 22:48] brian10048 commented on #331
Sales, Agreements, Contracts, and Projects might all need to use the customer_id field so to me it would seem necessary to have this field in the base module.

A compromise might be to remove the required attribute in the base module.

@max3903 @wolfhall Your thoughts?

[2019-09-06 00:32] brian10048 opened #332 "Field Service Conditions"
In my field service company we track what we call "Conditions" which can be described as a standardized list of various situations that may be encountered while performing a field service.

These may be reported by the customer and recorded in the service request phase in order to better help the worker understand what needs to be resolved from the customer point of view.  Conditions are also reco

[2019-09-06 02:19] max3903 commented on #331
Ping @patrickrwilson

[2019-09-06 02:25] max3903 commented on #331
I believe we can move this field to the fieldservice_account module as this is where we generate a customer invoice from the FSM order.

[2019-09-06 02:28] max3903 commented on #332
@brian10048 Can you provide examples of conditions and their impact please?

[2019-09-06 09:36] hparfr commented on #309
Step 1 is done in #334 and #333
I've just moved stages to another module.

[2019-09-06 12:23] brian10048 commented on #332
These are specific to my industry. We provide lawn care services.

Customer may report a condition "Brown Spots" or "Weeds" that needs addressed.

The worker will visit the location to provide a service and report conditions noticed while on the property.  The worker may also report "Weeds" as a condition.   Additionally, the worker may notice other conditions which are not in the scope of the cur

[2019-09-06 13:59] patrickrwilson commented on #331
I agree with @max3903 that this field should probably should live in the fieldservice_account module since it is used in the accounting part of field service. I like to think of this field as the 'default' billing contact. It is true that multiple customers could be billed but if we bill the location itself, this field gives the ability to specify who the billing contact is. We use this heavily in

[2019-09-06 14:01] hparfr commented on #331
Great. Do you prefer one big PR or one per module ?

[2019-09-06 14:42] max3903 commented on #331
One per module please. Thank you.

[2019-09-06 19:47] wolfhall commented on #332
@brian10048 @max3903
I think it makes sense to offer this type of "condition",  "issue", "service", "need", or "observation"
I struggle with a good neutral word for this.  Maybe the label is specific to the type of service and needs to be configurable as well (by an admin)
The module could be fsm.condition as described.
I can see this also extend to the mobile unit and used for reporting.  An orde

[2019-09-09 22:44] brian10048 commented on #332
@wolfhall @max3903

I've been thinking about this further and with reference to issue #20- items 2 (different activities or processes for different request types), 3 (activity type, check list, values recorded), & 4 (feedback for next visit, create sales action or restocking order)

What if we had a configurable FSM Activity or Task?  Sequences of activities/tasks could be specified on the FSM ord

[2019-09-10 17:48] wolfhall commented on #332
My original design actually had Activities in addition to Orders to break Orders down into multiple "tasks" or "activities"
![image](https://user-images.githubusercontent.com/3019378/64637367-76acf380-d3b8-11e9-9047-0fe3e157b69b.png)
We skipped it for now but I know that people need the ability to define multiple tasks on a work order.

[2019-09-16 15:01] max3903 opened #343 "[ADD] fieldservice_fleet"
This module allows you to link the vehicles and workers of Field Service with vehicles and drivers of Fleet.

Beware that the Fleet module can have more vehicles than the FSM one (not all vehicles of the company are used for Field Service work).

# Configuration

* Go to Fleet
* Review the vehicles created during the installation from the Field Service vehicles

# Usage

## Fleet

* Go to Fleet
*

[2019-09-16 17:39] zbik2607 opened #344 "[12.0] geoengine: External ID not found in the system"
Fresh install fieldservice_geoengine
Probably related to: https://github.com/OCA/geospatial/issues/206

[code]

[2019-09-19 10:07] zbik2607 opened #346 "[12.0] maintenance: Unnecessary dependence on hr"
I suggest removing the dependency on the hr module in module fieldservice-maintenance, is deprecated.

In addition, dependency on the fieldservice_stock module also also seems debatable and redundant.

[2019-09-29 21:33] OCA-git-bot opened #354 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] base_territory (RFC #373) - @SerpentCS #508
- [x] fieldservice - @SerpentCS  #513
- [x] fieldservice_account - @brian10048 #598
- [ ] fieldservice_account_analytic @murtuzasaleh #650
- [ ] fieldservice_account_payment @brian10048 #691
- [x] fieldservice_activity @brian10048 #607
- [ ] fields

[2019-09-30 07:40] yvaucher commented on #344
This is an issue in geospatial and a duplicate of oca/geospatial#206 thus I'm closing it, check the fix oca/geospatial#218

[2019-09-30 07:40] #344 closed

[2019-10-03 09:03] jeroen7s commented on #354
isn't this entire repo in Odoo13 Enterprise?

[2019-10-03 14:00] hparfr commented on #332
It can be in another module since not every one need this granularity.

I know some company work with a concept of checklist ("do I have my security shoes?", "am I certified for this work", etc. before starting the order), I don't know how it fit with your needs.

[2019-10-10 05:41] bodedra commented on #346
@zbik2607 Thanks for notice.

[2019-10-10 09:06] #331 closed

[2019-10-14 18:29] zbik2607 opened #370 "[12.0] fieldservice/maintenance/repair: after unlink all, field is_fsm_** is not correctly set"
When equipment  in FSM is unlinked, fields is_fsm_equipment should be set to False.

    @api.multi
    def unlink(self):
        equipments = self.mapped('maintenance_equipment_id')
        res = super(FSMEquipment, self).unlink()
        for equipment in equipments:
            other = self.env['fsm.equipment'].search([('maintenance_equipment_id','=',equipment.id)])
            if not other:

[2019-10-16 15:16] brian10048 commented on #343
@max3903 I can work on this if no one on your team is already doing so

[2019-10-16 15:18] max3903 commented on #343
@brian10048 Thanks! I don't think @wolfhall got a green light on this.

[2019-10-16 17:31] brian10048 commented on #343
@max3903

This would be a delegation inheritance? If so, what should I do with the `name` field of FSM Vehicle, since it is already a field in Fleet vehicle?

[2019-10-16 17:42] max3903 commented on #343
@brian10048 Yes. Same as fsm.location and res.partner.

Set it to the same value of the fleet.vehicle one.

[2019-10-22 15:50] max3903 commented on #370
@zbik2607 I believe this can be closed, right?

[2019-10-22 15:57] max3903 opened #373 "[RFC] base_territory"
This module allows you to define territories, branches, districts and regions to be used for Field Service operations or Sales.

# Usage

* Go to Settings > Users & Companies
* Define your territories, branches, districts and regions with their respective manager.

# Technical Specifications

- [x] Extract objects, views and access rights from `fieldservice`
- [x] Rename objects:
* fsm.territory -

[2019-10-22 15:59] max3903 commented on #373
@hparfr  As discussed during OCA Days in LLN.

[2019-10-22 16:47] zbik2607 commented on #370
Similar fix is needed in fieldservice:  fsm.location and fsm.person  (fields: fsm_location,fsm_person)

    @api.multi
    def unlink(self):
        partners = self.mapped('partner_id')
        res = super(FSMLocation, self).unlink()
        for partner in partners:
            locations = self.env['fsm.location'].search([('partner_id','=',partner.id)])
            if not locations:

[2019-10-22 16:51] max3903 commented on #370
...rename this one :)

[2019-10-22 17:12] zbik2607 opened #374 "[12.0] order.type.name problem"
Line (or more):

        if self.type.name not in ['repair', 'maintenance']:

in fsm.order (method copy_notes) should be modified, when model fsm.order.type has been implemented.

Now:
self.type.name == "Maintenance"  (upper case)

but, the change only to a capital letter does not seem elegant :(

**Solution suggestion:**

Redefine fields location_directions as:

` location_directions = fields.Cha

[2019-10-31 17:44] ghost opened #379 "Time line"
after instalation of the Field service module in Odoo 12 the Project time line stopped working with the error: (the timeline of Field service working though)
Uncaught TypeError: Cannot read property '_fieldId' of null
https://amevia.eu/web_timeline/static/lib/vis/vis-timeline-graph2d.min.js:35
Traceback:
TypeError: Cannot read property '_fieldId' of null
    at n._onAddItem (https://amevia.eu/web_

[2019-11-04 15:57] max3903 opened #380 "[RFC] fieldservice_route"
Depends: fieldservice
License: AGPL-3

A Field Service route is the sorted list of orders that one worker/vehicle will perform during a day.

This module allows you to manage your Field Service routes: when assigning an order to a worker and scheduling it, a route is automatically created for that worker and day.

# Configuration

* Go to Field Service > Configuration > Stages
* Define the workflo

[2019-11-04 18:47] max3903 opened #381 "[RFC] fieldservice_account_payment"
Depends: fieldservice_account with #391
License: AGPL-3

This module allows the worker to accept payments during his work at the location.

# Usage

* Go to Field Service
* Select or create a Field Service order
* Click on the "Register Payment" button
* Select the Payment Method
* Enter the amount
* Validate

# Technical Specifications

## account.payment

- [x] Add a many2one field "FSM Order" (

[2019-11-04 19:00] max3903 opened #382 "[RFC] fieldservice_route_account"
Depends:
- [x] fieldservice_route #380
- [x] fieldservice_account_payment #381

This module allows you to check and reconcile:
* the payments collected by the worker during the day
* the amount given to his manager at the end of the day

If the difference is positive, a journal entry is created and the amount is due by the driver.

# Usage

* Go to Field Service > Operations > Day Routes
* Select

[2019-11-04 19:10] max3903 opened #383 "[RFC] fieldservice_route_stock"
Depends: fieldservice_route, fieldservice_vehicle_stock
License: AGPL-3

This module allows you to do an inventory of the vehicle at the end of the day and reconcile the expected product remaining products in the vehicle and the count done by the manager. If the difference is positive, a journal entry is created and the amount is due by the driver.

# Usage

* Go to Field Service > Operations > Da

[2019-11-05 00:03] brian10048 opened #384 "[RFC] Order, Location Sizes"
In my field service operation it is necessary to track the size of a field service order.  For example, the square foot area of a lawn.

The size of a field service order is typically based on the size of the location being serviced.

My company provides multiple sectors of services to one location which can be grouped using categories.  As a result, a location needs to have a size for each catego

[2019-11-12 14:19] max3903 opened #389 "fieldservice_isp_flow: Schedule Date Start is always invisible"
The Schedule Start Date field on the field service order is invisible in all stages (except Cancelled):

https://github.com/OCA/field-service/blob/a8608444fd42f8b37d60e512d32b92271ee4f7d5/fieldservice_isp_flow/views/fsm_order.xml#L63

I am not sure there is a good reason for this.

CC: @patrickrwilson

[2019-11-12 23:26] patrickrwilson commented on #389
I agree, the eta really should always be shown.

[2019-11-13 20:04] max3903 opened #390 "[RFC] fieldservice_route_vehicle"
Depends on fieldservice_vehicle and fieldservice_route

This module allows you to set the vehicle on the routes and day routes.

# Configuration

* Go to Field Service > Master Data > Routes
* Create or select a route
* Set the Vehicle

# Usage

* Go to Field Service > Operations > Day Routes
* Create or select a day route
* Set the vehicle

# Technical Specifications

## fsm.route

- [x] Add a ma

[2019-11-13 20:17] max3903 opened #391 "[RFC] fieldservice_account"
Some organizations allows their FSM persons to have access to the customer invoices.

# fsm.order

- [x] Add a one2many field "Invoices" (invoice_ids) to account.invoice using the field fsm_order_id
- [x] Show a smart button if there is more than one invoice related to the fsm order

[2019-11-13 20:25] max3903 opened #392 "[RFC] fieldservice_stock"
This change will allow to display the FSM worker the inventory items that needs to be delivered/installed as part of the service order.

# fsm.order

- [x] Add a one2many field "Operations" (move_ids) to stock.move using the field fsm_order_id
- [x] Show the field if it is set.
- [x] Show it as a read-only field.

[2019-11-13 20:30] max3903 opened #393 "[RFC] fieldservice_sale"
This change will allow to create an FSM order for each sales order and link it to the delivery order and invoice.

# product.template

- [x] Add a selection field "Service Policy" (fsm_policy) with the options:
* "No service"
* "One service per sale order"
* "One service per sale order line"

# fsm.order

- [x] Add a many2one field "Sale Order" (sale_id) to sale.order

# sale.order

- [x] When the

[2019-11-13 20:39] brian10048 commented on #393
@max3903 Can we figure out a way so that this isn't a company setting, but maybe a setting per each new sale order? I need to be able to do both methods of order creation in one company

[2019-11-13 21:44] brian10048 commented on #393
Is there a way this can be accomplished using routes on the products and choosing a route on each sale order line?

I will use my company specific examples for lack of better scenarios

I have some field service order templates as follows.  Each of these templates require different resources (ex: specialized vehicle and worker skills) to complete.

| FS Order Template |
| ------------------ |
| La

[2019-11-13 22:30] max3903 commented on #393
@brian10048 This is an RFC so yes, the purpose of this is to find a solution that accommodate all our needs.

I like your solution and that would fit most cases I think.

[2019-11-13 22:51] brian10048 commented on #393
It can probably be done without the order template for more simple use cases.  I just included that to help illustrate my example.

I would be glad to work on this once we all agree on how to accomplish it, but I'm still struggling on the specifics.

[2019-11-13 22:59] max3903 commented on #393
I updated the description to include the table.

Regarding the template, we can have multiple templates generating one single order with:
* instructions = the concatenation of the content
* hours = the sum of the hours
* categories = the union of the categories

[2019-11-13 23:29] brian10048 commented on #393
If you edited the first comment, I don't think it posted

[2019-11-13 23:33] max3903 commented on #393
Aha. Good catch. I was still in the preview. Done.

[2019-11-14 01:05] brian10048 commented on #391
In #387 I did an `invoice_id` as you mentioned would be useful to add.  It could be changed to invoice_ids and accomplish the same thing.

Are there any security groups/settings to consider that will allow/restrict certain groups or even user specific access to the invoices?

[2019-11-14 01:20] brian10048 commented on #390
LGTM

When can we implement [geospatial 223](https://github.com/OCA/geospatial/pull/223), add a lasso tool for selecting orders on the map, and create an action to optimize the driving using something like [this](https://developers.google.com/optimization/routing/vrp)?  :grin:

[2019-11-14 15:37] max3903 commented on #390
Aha, I will ask Santa if he is interested and has budget... ;-)

[2019-11-14 15:51] max3903 commented on #391
@brian10048 In fieldservice_account, the FSM user needs to have read access to invoice.

In #381, they will accept payments so we will need to give them more permissions in `fieldservice_account_payment`.

[2019-11-14 16:08] brian10048 commented on #390
@max3903 if you can ballpark an estimate please send me an email!

:santa: might be more efficient if he had it!

[2019-11-14 16:18] max3903 commented on #390
@brian10048 I would need to investigate a bit to provide an estimate.

CC: @wolfhall

[2019-11-15 02:35] #128 closed

[2019-11-17 06:56] wolfhall commented on #390
Brian.  This is also on my wishlist :)
I worked some 18 years with VRP stuff and my team  designed our own algorithms.   I was hoping to plug this in before the end of the year but I don't have funding.

[2019-11-17 21:10] javimurcia commented on #393
A suggestion: Create a new invoicing policy "Invoice based on: FSM Order completion" so the sales order transitions automatically to the "to invoice" status when the FSM order is completed.

Also, FSM orders created from a sales order should have its accounting tab disabled, or have a warning, so a user doesn't mistakenly invoices the order twice (one from the sales order and another from the acco

[2019-11-18 02:36] javimurcia opened #396 "Question: Assign multiple workers to an order?"
It is posible to assign multiple workers to a single service order?

Here is my use case: We perform maintenance and repair of heating installations. When we have to perform a field service, we seldom send a single worker to the location, but instead we send multiple workers in a van to perform the service.
We don't have teams: one day worker a and worker b will be on the van 1 to a location, and

[2019-11-18 07:43] wolfhall commented on #396
There is currently no team concept for routes in the FSM module.  The way we have modeled this in the past is by assigning work to routes.  A route in your case exists for one day and is tied to one van.  as long as you schedule Vans you don't run into conflicts.  In the morning there is a simple assignment of people to vans so we know who went on what route.
We are expanding on the day route righ

[2019-11-18 13:51] brian10048 commented on #393
@crazy-projects I have a PR #388 that will update the linked sale order line's `qty_delivered` field when a field service order is completed.  Field Service orders created from sales orders would then be invoiced from the sale order that created the field service order.

I agree that some improvements could be made to the Accounting section to help prevent duplicate invoicing in the case of a fiel

[2019-11-18 14:02] max3903 commented on #393
@crazy-projects @brian10048 Odoo already provides the configuration to invoice the quantity ordered or the quantity delivered. Let's use it. The changes here are related to how many FSM orders you expect when the sale order is confirmed.

[2019-11-18 16:06] hparfr commented on #396
I work around this issue by setting a "van" as an fsm.person.

[2019-11-18 16:08] hparfr commented on #384
Why not use the quantity on the sale order line ?

[2019-11-18 16:16] hparfr commented on #380
Why the link between route and stage ?

A route can be just a linked list with all the orders the worker is assigned to, sorted by a key, like schedule_date_start.

Displaying subsets of route can be convenient, but it should not be enforced to day. I may need for some cases a couple of days or weeks.

[2019-11-18 16:22] brian10048 commented on #384
I agree.  I would use the quantity of the sale order line for field services being sold.  The quantity of the sale order line would set the size of the field service order upon creating that order.

I was curious to know if anyone else has a need for this and any other comments on how to implement a size field on the field service orders and locations.

[2019-11-18 16:24] max3903 commented on #380
@hparfr The day route will go through a workflow: To-Do, Confirmed, Done

[2019-11-18 16:29] brian10048 commented on #396
I think it would still be useful for a field such as `crew_ids` on the order.  Usually there is one worker (typically the driver) who is responsible for the work being done and provides the crew workers instruction while on the job.  The driver is assigned as the main worker, and the rest of the workers on the job get set as the `crew_ids`

Even using routes to assign the multiple workers, it seem

[2019-11-18 18:07] babatoko commented on #396
Same in my case. Question already asked some times ago.

[2019-11-18 18:14] babatoko commented on #396
Do not want to be rude. It seems to my really strange to use concept of the past or a work around to answer to something that seem to be a new case. To make things or software that make the difference  some open hunderstanding questions may be asked don't you think?

[2019-11-18 20:45] wolfhall commented on #396
I am not sure what happened here. I thought we are discussing how to best solve a problem.  There are multiple options.  I see reasonable sharing of ideas by people who care to find a good solution or maybe multiple approaches?  What was said to offend?

[2019-11-18 20:57] brian10048 commented on #396
Hi @babatoko,

I think @wolfhall simply means that in the past he has solved this problem using the method he described.  The past he is referring to is not related to this specific project.

This concept is still new to this project and we are all here working to come up with a solution all of us can find useful for our unique situations.

[2019-11-18 21:42] javimurcia commented on #396
This second option seems more flexible to me, here is an example:

Sometimes, the van may leave some workers at a location, and continue to a second service location, where the rest of the workers will perform another field service, so 2 service orders are being carried on at the same time. Even more, the van might leave a location while some workers are still performing operation, with only one o

[2019-11-18 21:50] javimurcia commented on #393
Yep, better not reinvent the wheel, Brian's PR would work perfectly.

[2019-11-19 09:19] hparfr commented on #396
@crazy-projects why not integrate Project / Tasks for that ? I mean if you need to have a certain level of precision, subtasks (suborders), timesheets, and so on, may be, having a link between an FSM Order and a project can be the solution to not re-invent the wheel.

Concerning crews, I have a quite similar need in the MRP where I need to track who were on the assembly line.
The design is :
_crew

[2019-11-19 09:23] hparfr commented on #380
May be I don't understand the route concept.

In my understanding a route is a suite of FSM Orders. Because they are related one to one, you can estimate the time to travel from one location to another. And draw the locations on a map.

[2019-11-19 14:18] max3903 commented on #380
@hparfr The suite of FSM orders is a day route: it's the combination of the route and the day it is executed.

Example:
Route: North Sector, only scheduled on Tuesdays and Thursdays.
Day Route: List of FSM orders in the North Sector scheduled on Tuesday Nov 19th and assigned to John Doe with the truck 1.

[2019-11-19 15:51] javimurcia commented on #396
I think four our case it would be overkill. Usually our work involves repair or maintenance of existing installations not done by us, but in most case these projects are so small that is not worth to create a formal definition of projects and a set of task to be completed and assign each task to a worker.

Rethinking our use case, what we really need (that is not already covered by the field servi

[2019-11-19 16:04] hparfr commented on #396
You may be interested by this —not finished— PR https://github.com/OCA/field-service/pull/358
It creates a link between a calendar and an order. In that way you can manage use the calendars tools (iCal invitations (accept / deny meetings) and synchronization, integration to smartphones / smartwatches, etc.)

[2019-11-20 18:01] max3903 opened #399 "[RFC] fieldservice_stock_account"
Depends on:
- [ ] https://github.com/OCA/product-attribute/issues/528
- [ ] https://github.com/OCA/stock-logistics-warehouse/issues/765

# Technical Specifications

## fsm.order

- [ ] Rename the "Create Invoice" button to "Invoice"
- [ ] Rename the "No Invoice" button to "Expense"
- [ ] Rename the "No invoice" accounting stage to "Expensed" (no --> expensed)
- [ ] Rename the "Fully Invoiced" acco

[2019-11-21 01:23] brian10048 commented on #393
@max3903
Referring to the last 2 rows of your table in the spec:
Do you think its necessary to create multiple invoices per sale order line here? I am having trouble determining how to do this.

Let me know what you think about #403

[2019-11-21 14:50] max3903 commented on #393
@brian10048 #403 looks good :+1:

I am not sure where you read multiple invoices per sale order line. If we have mixed products on the sale order and it is invoiced after delivery (when FSM order is complete), you can get:
* 1 invoice for the FSM order with all the products whose service policy is 'Per Sale Order'
* 1 invoice for the FSM order for each product whose service policy is 'Per Sale Ord

[2019-11-21 15:19] brian10048 commented on #393
Sorry, I meant multiple invoices per sale order.

The default Odoo behavior of a sale order puts all delivered lines onto one invoice correct?  I understand you want to split them based on service policy, but I am not sure how to accomplish this.

[2019-11-21 16:16] max3903 commented on #393
@brian10048 Correct. Everytime you run the wizard, it grabs all the invoiceable lines and put them on the same invoice.

I just checked action_invoice_create on sale.order. I would extend it to:
* call super()
* duplicate the invoice and move the invoice lines...

[2019-11-21 16:52] brian10048 commented on #393
Got it. Thank you

[2019-11-21 20:27] zachwaite commented on #396
@wolfhall You mentioned you guys  "are expanding on the day route right now and could add a list of assigned workers." This sounds like it could solve the problem in most cases. Is there a way to preview this in a dev branch somewhere or still in design?

[2019-11-21 22:10] wolfhall commented on #396
@zachwaite Still in design.  Do you have a deadline for this?

[2019-11-21 23:11] zachwaite commented on #396
@wolfhall This is one of a few features that is of interest for an upcoming project. I may be interested in contributing to development of the feature if the project takes off.

[2019-11-22 13:14] dreispt opened #405 "Can't edit Location Tasks: Invalid Sub-status error"
![image](https://user-images.githubusercontent.com/1246629/69428733-d82efe00-0d29-11ea-832f-77f54789b00d.png)

[2019-11-22 22:16] brian10048 commented on #393
@max3903 - #403 is checking all the boxes here in the spec.  Please give it a try!

[2019-11-28 14:08] hparfr opened #413 "Add Team in fsm_template"
Hi,

I wan't to add team_id in fsm_template.

Before working on, is there any good reason to *not* do that ?

[2019-11-28 14:52] brian10048 commented on #413
This would be beneficial for me as well.  I don't foresee any reasons to not do that

[2019-12-03 11:08] damendieta commented on #390
Hi, I'd like to help with this issue, could you please tell me where can I download the base_geolocalize module, it's on the dependencies, but I only found it for v8.

Thanks a lot.

Daniel.

[2019-12-03 11:46] bodedra commented on #390
@damendieta It's Odoo standard core module and you may find it under addons folder. Here is ref: https://github.com/odoo/odoo/tree/12.0/addons/base_geolocalize

[2019-12-05 17:22] CarFla opened #418 "New feature - Create Order instead Invoice"
Hi
If we go to customer many time in a month we usually create unique invoice with all maintenance that we do.
With this addon there is no possible to group different field service.
Is possible to add the possibility to create a Saled Order from Field Service Order?
Thank you

[2019-12-05 17:38] bodedra commented on #346
@max3903 We may close this.

[2019-12-05 17:46] bodedra commented on #328
@fdesrosiers3 I am not sure but seems issue has been fixed. Ref https://github.com/OCA/stock-logistics-warehouse/commit/48b0dc8222514218b0fd438805cc84b09932090a#diff-eb06c1073ddb2f4adebeebfe498f5e8b

Can you try with updated version?

[2019-12-05 21:03] #346 closed

[2019-12-10 08:54] hparfr commented on #418
Hi,

With fieldservice_sale, you can create a sale order for your customer, confirm the sale, and add a new sale order line each time you do the maintenance.

You can have a similar behavior with fieldservice_contract if you use contracts instead of sale orders.

https://github.com/OCA/field-service/pull/403
https://github.com/OCA/field-service/pull/359

[2019-12-10 16:20] #393 closed

[2019-12-10 17:16] CarFla commented on #418
Ok, but in this manner I must modify a sales order every time that I do a Field Service job two time. 1 to create a new line, and create field service order,
2 to indicate correct timesheet spent for field service job

I try to create a field service order from sales order, but when insert the timesheet in field service order The sale order not update with correct timesheet inserted.
I wrong somet

[2019-12-11 00:40] brian10048 commented on #418
@CarFla I think you should try the `fieldservice_isp_account` module.
With it you can create your FSM order first.  Then, fill out your timesheets in the Accounting tab of FSM order form view. Confirm the accounting section and the order to generate an invoice based on timesheets of the order.

[2019-12-11 14:58] murtuzasaleh commented on #381
#423

[2019-12-11 18:08] brian10048 commented on #252
@kittiu @max3903
Can we close this issue and continue tracking progress in #278?

[2019-12-11 18:39] max3903 commented on #252
:+1:

[2019-12-11 18:43] kittiu commented on #252
Yes and sorry of not having time to follow up.

[2019-12-11 18:57] brian10048 commented on #252
Not a problem @kittiu. Thanks for the work you have done here.  We welcome it anytime

[2019-12-11 18:57] #252 closed

[2019-12-12 11:58] dreispt commented on #391
The design does not mention where to display the Invoices, I suggested adding it inside a new Notebook Page "Invoices".

[2019-12-12 13:09] murtuzasaleh commented on #391
#430

[2019-12-12 14:45] max3903 commented on #391
@dreispt What about a smart button instead? `fieldservice_account_analytic` is adding an "Accounting" tab and that might be confusing to have Accounting and Invoices...

[2019-12-12 14:47] brian10048 commented on #391
I like the smart button too.  I would think many times only 1 invoice might be linked so a button would be easier than finding it in another tab

[2019-12-12 17:10] CarFla commented on #418
@brian10048 Thank you for your reply, but... this is the same of create the invoice from one FSM order.
How we work: we have many customer without contract. They call us to repair machine. We go to customer, repair and note time spent to repair. If the same customer call for another machine to repair, we go to customer, make repair and note time.
At the end of month we merge all time note to make

[2019-12-12 23:27] dreispt commented on #391
The smart button will go again the requirement in #381 for the Order to have "Register Payment" buttons for the related Invoices. Should we then remove that requirement?

[2019-12-13 05:54] CarFla commented on #418
Another possible solution is to link project/task in timesheet registration in employee timesheets of FSM order. So Timesheet can invoiced from sales order that with service tracked from project/task.

[2019-12-13 08:14] murtuzasaleh commented on #392
#431

[2019-12-17 00:48] #389 closed

[2019-12-17 14:51] max3903 commented on #391
Done

[2019-12-17 17:10] #343 closed

[2019-12-19 16:48] #392 closed

[2019-12-20 15:30] CarFla opened #442 "Error when track service and create FSM order from Sales Order line"
Hi
I try FMS sale on runbot.
I create a tracking for the service with Create one FSM order per sale order line and Timesheets on tasks
But when I create an Order with location inserted, look the error in file.

[error.txt](https://github.com/OCA/field-service/files/3988939/error.txt)

[2019-12-20 15:36] brian10048 commented on #442
I have a fix in the [PR here ](https://github.com/OCA/field-service/pull/424/files#diff-f5b45b9ece22e4bec23d64c6770aa2e4R73) which is in need of further review.

[2019-12-21 12:03] #413 closed

[2019-12-23 21:58] max3903 opened #448 "[RFC] fieldservice: translation"
# fsm.template

- [ ] Add translate=True on the Instruction field.

# fsm.location

- [ ] Add translate=True on the Location Direction field.

# fsm.order

- [ ] Add translate=True on the Instruction and Location Direction fields
- [ ] Make sure the translations from the template and location are propagated to the order

[2019-12-23 22:17] max3903 opened #449 "[RFC] fieldservice_vehicle_stock"
# fsm.order

- [x] Add a many2one field "Vehicle" (vehicle_id) to fsm.vehicle
- [x] Extend the create() and write() method to:
* check if the vehicle is set and if it has a stock location
  * Replace the "Vehicle / Storage" location on the stock move lines of the available stock moves with the stock location of the vehicle
- [x] Create a method onchange_vehicle_id() depending on the location and t

[2019-12-24 22:05] max3903 opened #450 "[RFC] fieldservice_activity"
Depends on fieldservice
License: AGPL-3

On the Field Service order, the instructions allow you to enter the different tasks or activities that need to be performed as un-structured content.

This module allows you to define activity on a template/order, define whether the activity is required or not and a reference. Once an activity is completed, the date and person are stored.

All the required

[2019-12-25 18:31] brian10048 commented on #450
@max3903 Looks like a good start to me and that you have a good bit of the work already done based on those screenshots!

What are your thoughts on adding a response type and response value field to activities? Similar to a quality control point in MRP app. For example, a pass/fail response, a numeric response within a range of values, a text response, or a pre-defined list of responses from which

[2019-12-26 14:18] max3903 commented on #450
Ping @wolfhall

[2019-12-26 18:08] max3903 opened #452 "[IMP] fieldservice: Add constraint definition"
# fsm.constraint

- [ ] Add the object
- [ ] Add a char field "Name" (name)
- [ ] Add a boolean field "Active" (active). Default value is True
- [ ] Add a selection field "Scope" (scope)
- [ ] Add a many2one field "Worker" (fsm_person_id) to fsm.person
- [ ] Add a selection field "Measure" (measure) with "Quantity of Product(s)", "Number of Records" and "Sum of Percentages"
- [ ] Add a select fiel

[2019-12-26 18:11] max3903 opened #453 "[IMP] fieldservice_route: Add constraints"
Depends on #452

# fsm.constraint

- [ ] Add the option "Day Route" to the selection field "Scope"
- [ ] Add a many2one field "Route" (fsm_route_id) to fsm.route
- [ ] Add a many2one field "Day Route" (fsm_dayroute_id) to fsm.route.dayroute
- [ ] Add a many2one field "Product Category" (product_category_id) to product.category
- [ ] Add a many2one field "Product" (product_id) to product.template

[2019-12-26 18:37] max3903 opened #454 "[IMP] fieldservice_route_stock: Add constraint"
Depends on #452

# fsm.constraint

- [ ] Add a many2one field "Product Category" (product_category_id) to product.category
- [ ] Add a many2one field "Product" (product_id) to product.template

# User Interface

## Constraint (Tree View)

![Screenshot from 2019-12-26 11-54-17](https://user-images.githubusercontent.com/939952/71485936-4e1aff00-27d9-11ea-99fc-f5bd9a26fe71.png)

## Constraint (Form V

[2019-12-30 15:14] #380 closed

[2020-01-01 13:10] brian10048 commented on #442
@CarFla we merged #443 which includes a fix for this error

[2020-01-01 13:10] #442 closed

[2020-01-03 15:22] max3903 opened #463 "fieldservice_route: Assign an order to a day route do not update the date and assigned to"
# Versions

12.0

# Steps to reproduce

* Create 2 orders
* Assign a worker to one and set the schedule date --> the day route is created
* Go to the Dashboard
* Group the orders by day route
* Drag and drop the 2nd order to the day route

# Result

* "Assign to" of the 2nd order is empty

# Expected result

* The 2nd order is assigned to the worker and scheduled start is in the day of the day rou

[2020-01-09 12:15] brenoalef commented on #379
Project timeline stopped working for me too. I think it's because of the person filter added to the timeline header. I'm getting the following error:
File "/usr/lib/python3/dist-packages/odoo/osv/expression.py", line 853, in parse
    raise ValueError("Invalid field %r in leaf %r" % (left, str(leaf)))
ValueError: Invalid field 'person_id' in leaf "<osv.ExtendedLeaf: ('person_id', 'in', [False]) on

[2020-01-09 12:54] brian10048 commented on #379
I have not duplicated this error, but it seems the fieldservice timeline is interfering with the project timeline

@smangukiya Do you have any thoughts on this?
cc:@max3903

[2020-01-09 15:41] #450 closed

[2020-01-09 17:33] barnarj opened #468 "fieldservice_stock: fsm_equipment.xml view domain error"
Hey Guys,

We have encountered an issue when attempting to add new fieldservice equipment and we wanted to bring it to your attention.

When creating a equipment entry in FSM (fsm.equipment), the _product_id_ field is used to filter for the _lot_id_ field.  The relation is: `product_id = product_id` (to stock.production.lot)

https://github.com/OCA/field-service/blob/e74f141114179842c9277cd61c6b77

[2020-01-15 14:04] #449 closed

[2020-01-15 14:04] #381 closed

[2020-01-15 14:05] #382 closed

[2020-01-15 14:05] #383 closed

[2020-01-15 14:06] #390 closed

[2020-01-15 14:06] #391 closed

[2020-01-15 14:07] #463 closed

[2020-01-15 17:07] dreispt opened #473 "[12.0] Can't access Partners after installation of FSM modules"
After installation of FSM modules, a regular user can no longer access the Partner form:

[code]

[2020-01-16 09:04] dreispt commented on #468
@max3903 Any idea about this?

[2020-01-16 15:21] max3903 commented on #468
@barnarj You get this behavior when creating an FSM equipment. Do you also get it during the modification?

CC: @osi-scampbell This looks like the same issue of the account when creating an invoice line... Can you help?

[2020-01-16 15:30] osi-scampbell commented on #468
@max3903 Yes I can take a look

[2020-01-16 16:26] barnarj commented on #468
@max3903 I'm sorry but I do not know if we are able to modify FSM equipment entries; we are not able to create a them and we currently do not have any FSM Equipment entries already available on any of our Odoo instances.

[2020-01-16 16:30] brian10048 opened #475 "Field Service Sale - Not creating FSM orders properly"
Sale Order Lines with products set to field_service_tracking = sale do not create FSM orders from a Sale Order confirmation when that sale order line is after a SOL with product set to field_service_tracking = line.

### Example 1 (No issue when product for sale is before line)
#### 2 FSM Orders created
![image](https://user-images.githubusercontent.com/25710115/72542852-cd3ca980-3852-11ea-96a1-21

[2020-01-16 17:03] brian10048 commented on #475
@max3903 If I revert the changes you made in #469 at [these lines](https://github.com/OCA/field-service/pull/469/files#diff-f5b45b9ece22e4bec23d64c6770aa2e4R131-R142) it will fix this.

Any reason we need to keep your changes?  The method already handled a recordset of sale order lines before.

[2020-01-16 17:08] max3903 commented on #475
@brian10048 It is the same code within the loop on the records (we have the decorator api.multi).

[2020-01-16 17:57] brian10048 commented on #475
@max3903 Before you added the loop in #469 the code was looping towards the end of the method on two filtered recordsets.  Now with your added loop on the entire recordset the code `for so_line in rec.filtered( ...` doesn't make sense because rec is a single record and we wouldn't need to loop.  We don't need these nested loops, so I tried this way:

       for rec in self:
            if rec.prod

[2020-01-16 18:54] max3903 commented on #475
@brian10048 Option 2

When FSM order is created for tracking = line, set the sale_id and sale_line_id fields

For product with tracking = sale, search for FSO with sale_id set and sale_line_id NOT set.
Create a new FSM order with sale_id set or update the found one

[2020-01-16 18:54] #475 closed

[2020-01-19 07:47] caloasis opened #483 "Cannot create invoice from sale order when products creating FSM order per line"
Odoo gets stuck loading when trying to invoice a sales order, and loses connection to server.  Tested on runbot and got the same results.
- Product set as FSM order per sales order line creates this problem.
- Switching product to FSM order per sales order allows invoice to be created.

[2020-01-19 22:59] teicom commented on #242
I just installed the module and I find it really interesting but I don’t find it logical to have to write the names of workers again, either employee or partner, should be able to be selected from the Contacts module, like selecting a client.

[2020-01-19 23:22] teicom opened #484 "Confirm service order by the client"
Hi,

Is there any way to confirm the service order by the client after finish it (make a sign, send an email, ...)? also, it will be a good method to avoid surprises when receiving the service bill.

Thanks.

[2020-01-20 15:40] max3903 commented on #242
@teicom On a contact (employee or partner), you can convert the record to a FSM worker or to a FSM location. In the action menu on top of the form view, you should find the option "Convert to a FSM record".

We use the same logic as partner / user, because not every partner is a FSM record.

[2020-01-20 16:30] teicom commented on #242
Great!

[2020-01-20 16:38] carlgrosser opened #485 "Cannot create invoice from sale order when products creating FSM order per line"
Odoo gets stuck loading when trying to invoice a sales order, and loses connection to server. Tested on runbot and got the same results.

- Product set as FSM order per sales order line creates this problem.
- Switching product to FSM order per sales order allows invoice to be created.

[2020-01-20 16:38] #483 closed, assigned to nobody

[2020-01-20 17:32] brian10048 commented on #485
Thanks @carlgrosser

I'll take a look into this and see what needs fixed

[2020-01-24 19:33] TumbaoJu opened #487 "Repair order not created when saving FSM order"
I tested the *fieldservice_repair* module on your runbot and on my own instance and in both cases, it didn't work.

I followed the configuration and usage instructions mentioned on the readme of the module and the repair order is not created when I save my FSM order(as it should be).

[2020-01-24 19:52] TumbaoJu opened #488 "Maintenance request not created when saving FSM order"
I tested the *fieldservice_maintenance* module in your runbot and in my own instance and it didn't work.

I followed the configuration and usage instructions mentioned on the module and when I create the FSM order, the maintenance request is not created.

In this instruction, I didn't find the place where I can schedule the maintenance:
*Go to Field Service > Master Data > Equipments or Maintenanc

[2020-01-28 14:52] brenoalef commented on #487
I'm having the same issue. Also, the repair field doesn't show up when I pick the related type.

[2020-01-28 18:12] javimurcia commented on #484
Is not part of the oca codebase, but there is such a module here: https://github.com/ursais/osi-addons/tree/12.0/fieldservice_sign

[2020-01-29 17:53] osi-scampbell opened #490 "[12.0] customer_id on fsm.location.person in fieldservice_account_analytic"
In fieldservice_account_analytic, customer_id field is defined on fsm.locaiton.person however we don't add it to the form view. It is a required field that cannot be set from the from end and is not being set anywhere on the back end. I can see this field being very useful in the future but for now can I comment this field out?

To replicate:
Install fieldservice_account_analytic
Add a fsm.locatio

[2020-01-29 17:54] osi-scampbell commented on #490
@hparfr can you give me any insight into how we are using this field? Thanks!

[2020-01-30 09:06] hparfr commented on #490
It has been deleted with this commit :
https://github.com/OCA/field-service/commit/923042f1ab142c02d1b57c58d0b9cf7de282246f#diff-79dd1679ea9e4a9622da088af58ba85d

I didn't pay attention to this file during the review.

@brian10048, do you know why it has been removed?

[2020-01-30 14:22] brian10048 commented on #490
Originally it looks like customer_id field for fsm.location.person was moved from [here](https://github.com/OCA/field-service/commit/280039a676f259024fb6eba5b3863dc4ccca65af#diff-6b58de5ed729e9dab0fd7d20b0e55ac6L21-L22) to be replaced [here](https://github.com/OCA/field-service/commit/3a9deaf30e8e8b0d7693a45fd41d0c4b1d15953d#diff-b04a09ddc359b102f7a4c4a316d23958R10-R13), but it was not set as a re

[2020-01-30 14:35] hparfr commented on #490
Yes it has been moved  from fieldservice to fieldservice_account then fieldservice_account_analytic.

I don't use this field, because for all my use cases, the customer_id (= billing_id) is coming from a sale_order or a contract.contract.
See #331

[2020-01-30 23:45] dreispt opened #492 "PO Backorder not working when using Lots"
Create and confirm a PO for a product that uses Lot numbers, ordering 5 units.
On the Reception, receive two units, enter Lot numbers for them.
Validate the Picking document.
On the popup asking if a backorder should be created, click on the Backorder button.
Then this error is shown, blocking the operation:
[code]

[2020-02-03 14:56] #492 closed

[2020-02-04 13:50] brian10048 commented on #490
Closed with #494

[2020-02-04 13:50] #490 closed

[2020-02-12 09:04] wolfhall opened #504 "Change to custom_color fields when Google color picker is installed"
When field-service/fieldservice_google_marker_icon_picker is installed it modifies the custom_color behavior and breaks the color fsm.stage logic that is used to color service order in the timeline view and elsewhere.

Improvements:
1) for fsm.stage custom_color, implement a check to make sure users enter a valid Hex Code.
2) When field-service/fieldservice_google_marker_icon_picker is installed:

[2020-02-12 10:05] murtuzasaleh commented on #504
#502
#503

[2020-02-15 00:50] brenoalef commented on #379
Any news on this?

[2020-02-18 10:33] dreispt opened #505 "Error installing `fieldservice_route_vehicle`"
[code]

[2020-02-19 12:44] #505 closed

[2020-02-20 11:48] #504 closed

[2020-02-20 21:53] TumbaoJu opened #509 "FS template : Bug with activities state"
When configuring a Field Service Order template, we can add some activities.
When creating a FSO, I can choose the template and the list of the activities appears under "Activities" tab.

Once I complete the activities on the first FSO., the state of the activities of the template reflect the state of the first FSO I used with this template.

The state of the activities of the template should stay

[2020-02-24 14:42] brian10048 commented on #485
@carlgrosser I believe the issue has been fixed in #486

[2020-02-24 14:42] #485 closed

[2020-02-27 16:07] dreispt commented on #468
@osi-scampbell Do you happen to have any work done on this?

[2020-02-27 17:36] #384 closed

[2020-03-04 14:59] dreispt opened #518 "fsm_route: add multicompany support"
`fsm.route.dayroute` should have a `company_id` field and a record rule on it

[2020-03-05 13:01] dreispt opened #519 "field_service_stock: can't upgrade module"
When upgrading to latest version, on an existing database:
[code]

[2020-03-05 15:21] dreispt commented on #468
@barnarj Hello, both me and Steve were unable to reproduce it.
Below is an example I got from my test environment.

Can you double check please?
Are you sure that product has Serial# available in your database?

![image](https://user-images.githubusercontent.com/1246629/75995789-d7932f80-5ef4-11ea-9c96-9bb5a93cd860.png)

[2020-03-06 12:17] dreispt commented on #468
We came to the conclusion this is not related t the FSM repo codebase.
Thank you!

[2020-03-06 12:17] #468 closed

[2020-03-13 17:46] falexandresilva commented on #379
Hi, I have the same problem reported by @brenoalef . Any solution to solve or workaround this problem?

[2020-03-17 09:57] fdoangulo opened #523 "Field Service Stock: "stock_request_picking_type.view_stock_request_order_filter""
I get an error when trying to install current version of fieldservice stock module on odoo 12.

Odoo version: 12
Module: Field Service Stock
Module Version: 12.0.1.4.0

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/cache.py", line 88, in lookup
    r = d[key]
  File "/usr/lib/python3/dist-packages/odoo/tools/func.py", line 69, in wr

[2020-03-18 19:00] max3903 opened #524 "[RFC] Customer on Location/Order"
Sorry to bring the subject back again but I have a requirement to have the customer information on the location and order.

My scenario is that the FSM order is created from the Sale Order validation and the worker needs to have the customer info in addition to the location.

What do you think of:

- [ ] extracting the customer_id field from `fieldservice_account_analytic` but leaving the invoice

[2020-03-18 19:08] brian10048 commented on #524
This is not a problem for me.

@hparfr was more concerned about the placement of the customer_id field from what I remember

[2020-03-18 20:33] hparfr commented on #524
1)Yes, it was very confusing for multiple customers. Location is enough for most of the cases.
2) Plus I asked to remove billing id because there was some logic about it. It was not the responsibility of the FSM Order to manage the billing.
3) You can have multiple customers with the same location (the owner / the renter). So binding locations to customers can be wrong.

I can understand the worke

[2020-03-18 21:11] max3903 commented on #524
@hparfr

1) customer_id is not required on FSM order, so you should be fine here.
2) The logic to invoice from a FSM order is not in `fieldservice_account`, so we're good.
3) The location has multiple fields to store the owner, the customer, the contact.

Because a FSM order can be created manually and the worker needs to know the customer.

What do you think of renaming the field "Customer" on th

[2020-03-19 12:10] hparfr commented on #524
Ok, then I will hide all theses fields in a new (custom?) module.

Usually, the base module should be generic and other modules adds features, not remove them.

[2020-03-19 12:17] hparfr commented on #524
You don't use field_account_analyitic for this projetct ?

[2020-03-19 13:53] max3903 commented on #524
@hparfr

No, this is a delivery service where customer calls, requests X products. Products gets invoiced before delivery. When the products is delivered to the location (address), customer pays.

The location name is the address in the form of "1, Main Drive". No customer name...

What do you think of adding a checkbox in the settings to show the customer_id field using a specific group? Field ca

[2020-03-19 22:30] osi-scampbell commented on #524
@max3903 It looks like I am a day late to this discussion, I agree with moving the customer_id field back to the fieldservice_account module and I think it should be visible on the FSO. I don't think we should change the name from "Customer" to "Default Customer" because isn't that already implied? I believe the users will assume the "Customer" fields is the Default Customer.

I think @hparfr brin

[2020-03-20 19:02] #373 closed

[2020-03-21 22:48] fdoangulo commented on #523
Postgresql 12 has important changes from version 11.
I have installed posgresql 11 and started from scratch.

[2020-03-21 22:48] #523 closed

[2020-03-23 07:38] hparfr commented on #524
@osi-scampbell My point is that a location should be (as much as possible) free.
Owner, Tenant is just a point of view in a particular context and is not generic.
The partner info should be available on the FSM Order (directly, or from a link to a SO).

@max3903 May be this should not be allowed for your use case. In my opinon FSM should be consistent with says delivery: if you create a delivery o

[2020-04-02 14:11] max3903 opened #541 "[RFC] fieldservice_portal (+ Mobile App)"
Dependencies: fieldservice, portal
License: AGPL

This module provides external workers access to their FSM orders through the portal or the mobile app.

# Technical Specifications

## fsm.stage

- [ ] Add a boolean field "Show on the portal" (show_portal)

[2020-04-02 14:25] brian10048 commented on #541
Any thoughts about customer access to view the orders assigned to their locations?

[2020-04-02 14:28] max3903 commented on #541
@brian10048 Sure, but we need to figure out #524 first... :)

[2020-04-02 14:32] brian10048 commented on #541
I knew that was coming!  I'll check back on that issue and add some of my thoughts in the near future to maybe help push it along

[2020-04-06 20:20] dreispt opened #547 "Bug: FSM Location is not set to the selected Delivery address"
1. Create an SO
2. Select the Customer. This autodfills Invoicing Address, Shipping Address and FSM Location.
3. Select a different Shipping address. The FSM Location stays the Customer Address. I expected it to change to the Shipping address.

I expect the Shipping address to correspond to the service address in an FSM scenario, so the FSM Location should match the selected Shipping Address.

I w

[2020-04-07 00:09] max3903 commented on #547
The FSM location defaults to:

* the partner
* the shipping address
* the commercial partner

if they are FSM locations.

In your case, it looks like the partner is also a FSM location so it doesn't change.

The computed field would not work because you can have many FSM locations behind one delivery address. (if you want to ship to your kitchen and living room, same address to ship to but differe

[2020-04-07 11:01] dreispt commented on #547
Good point.

The more general Partner should not overshadow the more specific Shipping/Delivery address.
So if both have FSM Locations, the second should prevail over the first.

[2020-04-07 12:46] falexandresilva commented on #379
http://3416819-12-0-e1c9ce.runbot2.odoo-community.org/web/login
 I've tested on runbot and the error happens. On the original runbot are'nt installed the project timeline. When I install project timeline and go to tasks / view timeline the error appears. Someone can verify?

[2020-04-07 13:08] max3903 commented on #547
@brian10048 Do you agree?

[2020-04-07 13:22] brian10048 commented on #547
It does seem that changing the shipping/delivery address should update the service location in most cases.

So we would default the FSM location to this order instead?

- shipping address
- partner
- commercial partner

[2020-04-07 13:23] max3903 commented on #547
Works for me.

[2020-04-13 16:11] brian10048 opened #548 "[RFC] [IMP] fieldservice: include location directions on printed doc"
Location directions do not print on the field service order printable document.

Include the Location Directions above the order directions on the qweb template if the Location Directions field is populated

[2020-05-04 15:56] over-garcia opened #560 "Error at print service order"
module: fieldservice
version: 12.0
Odoo Enterprise v12.0

**Steps to reproduce**
Button Print > Service Order
- ...

**Current behavior**

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/odoo-server/odoo/addons/base/models/qweb.py", line 347, in _compiled_fn
    return compiled(self, append, new, options, log)
  File "<template>", line 1, in template_fieldservice_report_fsm_

[2020-05-04 16:01] brian10048 commented on #560
@over-garcia

Please check that you have the most recent fieldservice code.

This issue was recently fixed with this [commit](https://github.com/OCA/field-service/commit/20d35f66e1699bdaa3a3fe33c5afb69008e6a235)

[2020-05-11 13:03] ska-ibees opened #562 "Request workers flow"
Hello,
I am trying to understand the purpose of "Request workers" in FSM order.
I assumed it is like sending a request to multiple workers with notifications so that anyone on the list can accept and assign that FSM order to him/her self.
In fact, I have a use case, where multiple workers (subcontractors ) are linked with a location. We need to send a request to all workers (Based on skills and lo

[2020-05-13 01:15] brian10048 commented on #562
@go4site The idea behind Request Workers is similar to your use case.  However some of these functionalities are not yet implemented.  See #166

cc: @max3903

[2020-05-13 02:32] ska-ibees commented on #562
Thanks @brian10048.
@max3903 is there any progress in this regard?

[2020-05-13 13:09] max3903 commented on #562
@patrickrwilson can provide more insight but the process is as follows:

* An email is sent to the request workers with the fsm order details.
* They reply by providing their ETA at the location
* Based on the ETA and other factors, the dispatcher decides on which worker to assign the order to.
* When the order is assigned, the winning worker and the other workers gets an email with their result.

[2020-05-13 13:38] brian10048 commented on #562
@max3903 @patrickrwilson  - Are you guys using the fieldservice_stage_server_action module to facilitate the added functionality of emailing the workers?

[2020-05-13 14:10] patrickrwilson commented on #562
@brian10048 Yes, we use those. Here is a common scenario we have....

We have regions where we use several sub contractors listed for locations. In our scenario, the sub contractors accept and schedule the FSO with the location/customer.
- We create the FSO. We do send an email to the location/customer at this point to notify them a FSO has been created.
- Several sub contractors that are assigned

[2020-05-13 15:34] brian10048 commented on #562
Great information.  Thank you for sharing

[2020-05-13 19:33] ska-ibees commented on #562
Workflow is much clear now.
Thanks all for sharing the great insights.

[2020-05-14 14:33] brian10048 opened #567 "[RFC] Multiple Routes for a Location"
Currently an order's route is tied to the route of the location for that order.
`fsm_route_id = fields.Many2one(related="location_id.fsm_route_id",
                                   string='Route')`

For my use case, we need to have multiple routes linked to a location because various categories of work are performed at the same location.  This requires a specific vehicle and person (route) for e

[2020-05-17 14:26] CarFla opened #571 "Question: set location equal to customer"
I testing Field Service.
For me is natural that location is the customer's address.
But when install Field Service locations list is empty.

I go to Contacts->Field service Tab, and I see Is a FS Location with check option. But If i try to modify that check not active it is not possible.
I try in Runbot also and either no check possible.

I search in configuration to active this option but i dont

[2020-05-18 11:09] CarFla commented on #418
Hi
someone can create the feature?  Create a sales order from Field oder.

[2020-05-18 15:35] brian10048 commented on #571
Hi @CarFla

You can convert existing contacts to a Field Service Location using the Action menu on a contact record and select Convert to FSM Record.  (Or from a list view, select multiple contacts to convert multiple records.)
![image](https://user-images.githubusercontent.com/25710115/82231516-4a5c5600-98fb-11ea-998a-d14fce86d668.png)

Then chose Location on the wizard
![image](https://user-imag

[2020-05-18 16:17] CarFla commented on #571
what a stupid I am :( :(

Thank you

[2020-05-18 16:17] #571 closed

[2020-05-30 11:03] ska-ibees commented on #562
Hi again!

@patrickrwilson
Could you please confirm that how workers are accessing their requested/assigned workorders?
Is it just through emails or do they have access to orders itself via backend or portal? For example, in your mentioned workflow, how does assigned contractor provide ETA?
I was looking for some interactive interface where records coule be seen and handled by portal users (Worker

[2020-05-31 04:06] patrickrwilson commented on #562
So for us, we have both sub contractors and employees. The employees can schedule and edit FSO's directly because they have Odoo user accounts however our sub contractors are just communicating with our dispatch team directly via phone or email to confirm and schedule FSO's. So, having the ability to let our sub contractors access FSO's via the portal would be great. Please include me on your modu

[2020-06-01 10:18] CarFla opened #576 "[new feature] [12]- from FSM order to Saled order"
Hi
I test FSM, but with standard system I think that i cannot use.

I think it can be useful for many companies to be able to convert and start from an FSM order and convert it to sales order.
Also because if you create an FSM order from a sales order it is true that you can make the tracking of 1 service, but the order is updated even if the FSM order is not in the completed state. Instead, being

[2020-06-07 22:21] JordiADARIA commented on #379
Yes! its happening o runbot and with fresh or "used" databases.

Yes, ive the same problem, ive tested it even on fresh database installations and its happening the same: installs project, installs project_timeline, all it's ok... BUT installs Field Service, and then all timeline views are returning errors, model property undefined, invalid field "person_id".... i'm trying to solve it.

[2020-06-07 22:33] JordiADARIA commented on #379
from runbot:
Odoo Server Error
Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/.repo_requirements/odoo/odoo

[2020-06-09 07:49] JordiADARIA commented on #379
the problem could be located at this area:

[https://github.com/OCA/field-service/tree/12.0/fieldservice/static/src](url)

[2020-06-14 00:21] ska-ibees commented on #562
Alright!
I am adding some more features to streamline Portal access for workers and customers. So far, I have created a separate model to manage requests/responses to keep actual order isolated during the negotiation and worker evaluation, etc. Idea is to provide portal access at every stage of the process.
Let me complete a prototype for a specific use case. Afterward, it will create a more gener

[2020-06-16 17:21] alantchimino opened #578 "Cant register payments"
When i try to register a payment over an invoice it says it can't because i haven't complete a requiered field and it references "Field Service Order (fsm.order), Field: Location (location_id)".

I can't get from where is that coming or how to fix it. Please your help!

[2020-06-17 14:49] barnarj opened #579 "[IMP] Add check for existing fsm.equipment before creating during stock move"
Hello,

We have encountered an issue with the _action_done() extension in fieldservice_stock/models/stock_move.py - we are an ISP and regularly deploy/recover/re-deploy equipment to different customer locations over time.

Currently the implementation attempts to create an fsm.equipment record without first checking to see if one already exists:

https://github.com/OCA/field-service/blob/3cfdc3676

[2020-06-19 07:21] CarFla commented on #576
Another possibility is the possibility to import the fsm line to invoice when creating invoice.

[2020-06-24 01:59] marcelsavegnago commented on #487
The method of creating the FSM order is commented. I asked a question in the PR that generated this change. I'm trying to understand what the restriction would be.

https://github.com/OCA/field-service/pull/241

[2020-07-09 08:35] dhecar opened #586 "Hww send equipment from the vehicle storage to client location before close the FSM order"
Hello, I'm trying to use this modules and i can't discover how to use in the correct way.
I work in a ISP that performs installations, repairs and other kind of interventions to the final customer or other ISP companies.

Each worker, one  or two day a week take  the equipment  without known in advance if this equipment will be used or not , for example they take 10 routers, 4 fiber coils, etc etc

[2020-07-10 11:04] dhecar commented on #562
Hello, I am trying to understand how the worker uses the module. I have a couple of questions.

My workers are assigned as a user in the fsm module, but they cannot see the buttons to change the phase of the order (started, en route) although they can drag the kanban. In addition they cannot complete the order because dragging cannot. Is this normal?

And a second question. 2 days a week or 1 day

[2020-07-10 12:01] dhecar opened #587 "QUESTION: Why I have to fill date_start date_end manually?"
Why not this two fields are filled when i change the status of the order, from scheduled  to route, and from started to completed?

[2020-07-10 12:07] dhecar opened #588 "QUESTION: User permissions"
HI, I don't understand why a worker, that have an odoo user and permissions of user in the module FSM can't complete the order.

That user can move the kanban order from scheduled to started, in route, all the time they want ( this is another question, why?), but can't complete the order... it's the normal behaviour??

[2020-07-10 12:28] brian10048 commented on #587
The status (stage) of the order can be configured to have as many or as few stages as required for your particular use case.  If you would like to update the start date or end date of the order when it reaches a particular stage/status, you can use the module fieldservice_stage_server_action.

With this module you will be able to define your own server action that is executed when an order enters

[2020-07-10 12:32] brian10048 commented on #588
@dhecar Are you trying to move the order to complete stage from the kanban view? This behavior is not allowed.

You will need to use the button in the form view to move the order to complete stage. This ensures that the `action_complete` function is called

[2020-07-10 12:36] #560 closed

[2020-07-10 12:43] dhecar commented on #588
If i assign to my worker in the permissions page of the user, the user permission, i can't put the order to complete, only exist the edit button, but i can move to other stages moving the kanban card.

[2020-07-10 12:44] dhecar commented on #587
Ok, i'll try, thanks

[2020-07-11 17:22] antoniocanovas opened #590 "[v12] 'TYPE' and 'ACTIVITIES' are not completed when fsm.order is created from sale.order.line"
Hello, I am testing this great solution.

I am missing this functionality:
- New product => Service => Create a fsm.order for each sale.order.line => from Template (it includes instructions, activities, template and type)
- New sale.order => The fms.order is created and linked.
- New fsm.order has not "type" and "activities".

Regards,

[2020-07-14 11:31] dhecar opened #592 "[IMP] Picking/movement from fsm.order"
Hi, in our company, the path for the pickings and stock movements that uses the fieldservice module isn't usable because sometimes the worker can't install the assigned device, or for other reasons he can't know how much cable need for  installation.  By that I think could be interesting, to allow to the  worker (installator) to select the stock from her vehicle, (device he has installed, how much

[2020-07-21 15:14] barnarj commented on #579
@osi-scampbell  Any chance you could help me get a little traction on this simple fix?

[2020-07-21 21:39] brian10048 commented on #588
@dhecar I submitted a pull request (#606) to modify this behavior. I agree that a user permission level should have the complete button available.  It can be merged once we receive a consensus on this change

[2020-08-12 05:24] CarFla opened #611 "Timesheet"
Hi
I want to track service for each order.
I try to use Field service ISP. With this module, I can track one service per order, because the service must be create with task track, and when create a FSM order I must select the Task project to connect FSM order.
So if i want to track 2 service I must create 2 FSM orders.
Is there any possibility to add task selection when track employe service?

Or

[2020-08-16 06:49] nikul-serpentcs commented on #354
@max3903 fieldservice_route  #613

[2020-08-21 15:17] hparfr opened #628 "Invoice FSM Order"
Hi,

There was a lot of discussion about it, I don't remind why we do it like that (I approved it). But, I have the feeling the actual design is not good.

There was :
[code]

https://github.com/OCA/field-service/pull/411/commits/18cb3b1ee0a57b24bbe7727e90a1cca87dd1b809#diff-6cd1cb5cd4cb8da0f4d411f6132bc412R10

Then here : https://github.com/OCA/field-service/pull/411/commits/923042f1ab142c02d1b57

[2020-08-24 20:36] brian10048 commented on #628
@hparfr Yes this one has created a lot of discussion!

I do not see any specific issue in your proposed design.  What you are suggesting seems to allow more flexibility.

I suspect we would need a migration script and to make some changes to the fieldservice_sale module to keep everything else working

[2020-08-28 18:24] joseluisbossio opened #631 "AttributeError: type object 'fsm.order' has no attribute 'geo_localize'"
Hi, we have an issue (dump) when we want to include the Geo Location using the button "GeoCode Location"

-> AttributeError: type object 'fsm.order' has no attribute 'geo_localize'

Error: Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-s

[2020-08-28 20:05] joseluisbossio commented on #631
+ additional information

Odoo branch version 11

[2020-09-09 13:57] dreispt opened #632 "[RFC] Add Customer field to FSM order list?"
I noticed we don't have a Customer field available in the FSM Orders list.
There is a Contact field, but this is not the same thing.
The local Contact might not be directly related to the Customer ordering the service.

Is this field really missing?
CC @max3903 @wolfhall @brian10048

Thanks!

![image](https://user-images.githubusercontent.com/1246629/92607820-8ea9a280-f2ac-11ea-977a-1ee309cba9e4.p

[2020-09-09 14:12] dreispt commented on #632
I see there is a `customer_id` field.
I'm considering proposing a change to the list view, to have it visible there,.
Agree?

[2020-09-10 10:07] felixsniper opened #633 "How can I specify maintenance schedule?"
Hi OCA,

As mentioned in FS Maintenance Configuration:
"

To use this module, you need to:
1) Go to Field Service > Master Data > Equipments or Maintenance > Equipments
2) Create or select an equipment
3) Specify the maintenance schedule

"

I can create an FS equipment, but how can I "specify maintenance schedule"?
Is it related to " Next Preventive Maintenance"? or I need to create a new Mainten

[2020-09-10 10:22] felixdsniper opened #634 "Cannot create a Maintenance Request for FS Equipment from Odoo Maintenance."
Hi OCA,

I am using Odoo V12 Community.

I cannot create a Maintenance Request for FS Equipment from Odoo Maintenance. Please help give me an advice.

Step to Reproduce:
1) Create an FS Equipment "Blue Desk" from Field Service App.
2) Go to Maintenance -> Equipments -> Select "Blue Desk".
3) Create an Maintenance Ticket for FS Equipment "Blue Desk" | Failed
=> An error box pop up.

Thanks,
Felix.

[2020-09-10 10:41] felixdsniper opened #635 "Cannot create a Maintenance Request for FS Equipment from Field Service."
Hi OCA,

I am using Odoo V12 Community.

I cannot create a Maintenance Request for FS Equipment from Field Service App. Please help give me an advice if I am wrong  in some step.

**Step to Reproduce:**
1) Create an FS Equipment "White Desk" from Field Service App, assign it to specific Maintenance Team.
2) Go to Field Service -> Create a new FS Order
3) Choose FS Type as Maintenance
4) In Equipme

[2020-09-10 13:54] marcelsavegnago commented on #635
I sent a PR to correct the maintenance order generation. It is missing that it is approved and merged.
https://github.com/OCA/field-service/pull/580

[2020-09-10 14:00] marcelsavegnago commented on #634
Hi @felixnguyen-epiklah
See if your version is up to date.

If I'm not mistaken this PR corrects that error.
https://github.com/OCA/field-service/pull/582

[2020-09-11 07:17] felixsniper commented on #634
Hi @marcelsavegnago,
Thank you for you feedback,

**Testing Enviroment:**
+ Odoo CE V12 (From Odoo Official)
+ Field Service - v.12.0.2.12.1
+ Field Service - Stage Server Action v.12.0.2.0.0
+ Field Service - Maintenance v.12.0.1.1.0
=> This issue still happened

I downloaded all Field Service Apps/Add-ons from Odoo App Store.
Is there anything else that I need to check?

Thanks & Regards,
Felix

[2020-09-11 07:18] felixsniper commented on #635
Hi @marcelsavegnago,

From #634.
Thank you for you feedback,

**Testing Enviroment:**
+ Odoo CE V12 (From Odoo Official)
+ Field Service - v.12.0.2.12.1
+ Field Service - Stage Server Action v.12.0.2.0.0
+ Field Service - Maintenance v.12.0.1.1.0
=> This issue still happened

I downloaded all Field Service Apps/Add-ons from Odoo App Store.
Is there anything else that I need to check?

Thanks & Reg

[2020-09-14 13:00] marcelsavegnago commented on #634
hi @felixnguyen-epiklah normally, i am prefer clone the git repository.

This PR #635 fix integration between field service and maintenance. But, this OR have state approved but not merged yet

You can clone the field service repository and merge this PR into it.

[2020-09-16 08:22] felixsniper commented on #634
Hi @marcelsavegnago,

It worked after merging the PR #580 to current Git Repository.
Thank you for your help.

Have a nice working day,
Thanks & Regards,
Felix Nguyen.

[2020-09-16 08:24] felixsniper commented on #635
Hi @marcelsavegnago,

It worked after merging the PR #580 to current Field Service Git Repository.
Please help me to close this ticket.

Have a nice working day,
Thanks & Regards,
Felix Nguyen.

[2020-09-16 08:31] marcelsavegnago commented on #635
Hi @felixnguyen-epiklah,

You can help by reviewing the PR.

[2020-09-16 08:32] marcelsavegnago commented on #634
Hi @felixnguyen-epiklah,

You can help by reviewing the PR.

[2020-09-16 16:00] babatoko opened #637 "problem select location on recurring order"
Hi,

Have got this issue when creating a recurring order.

It rise when I want to select location.

Error:
Uncaught TypeError: value.split is not a function

https://www.entretien-maconnais.fr/web/content/22187-dbe1c81/web.assets_backend.js:1213
Traceback:
TypeError: value.split is not a function
    at Class._getDisplayName (https://www.entretien-maconnais.fr/web/content/22187-dbe1c81/web.assets_

[2020-09-16 16:08] babatoko commented on #637
I can see on my setup is that the location name is not set correctly.

[2020-09-17 19:21] brunomrosa opened #638 "Unable to check Use GeoEngine with OpenStreetMap on Settings"
It is possible to check however when I press save, the page gives a refresh and the checkbox is empty.
I am currently using version 13, but I did a test with Odoo 12 and the version 12 module and they worked normally, I do not believe it is lack of dependencies

[2020-09-19 07:13] babatoko commented on #637
Problem have been solved by clearing web browser cache

[2020-09-19 07:13] #637 closed

[2020-09-19 07:13] babatoko commented on #637
Problem have been solved by clearing web browser cache

[2020-09-21 03:58] felixsniper commented on #634
Hi @marcelsavegnago,

I already reviewed the PR #580.

Thanks,
Felix Nguyen.

[2020-09-21 03:58] #634 closed

[2020-09-21 03:59] felixsniper commented on #635
Hi @marcelsavegnago

I reviewed the PR #580

Thank you for your help,
Regards,
Felix Nguyen.

[2020-09-21 03:59] #635 closed

[2020-09-23 09:00] babatoko opened #640 "complete location name not set"
Location complete name is not set when converting contact

how to reproduce:
1. go to a contact details
2. select "convert to FSM Record" menu
3. select location and validate
then
4. go to location into Master data
5. look at the newly record and the complete name is not set

not sure how to provide more details

cheers

[2020-09-23 09:30] babatoko commented on #640
This issue couldn't be test on runbot because there is an "API key for GeoCoding (Places) required" issue.

[2020-09-24 15:30] dalonsod commented on #640
Hi @babatoko I've reproduced the issue creating a location with only the required fields filled. The location is created, `complete_name` is unset. Then, it's not possible to select any location across the application because there's one record with this problem.

If you look at this code
https://github.com/OCA/field-service/blob/12.0/fieldservice/models/fsm_location.py#L65-L80

you'll see `name`

[2020-09-24 16:15] babatoko commented on #640
Hi @dalonsod Great to hear that you've reproduce. Half of the fix is done ;-)

cheers

[2020-09-25 11:26] dreispt commented on #579
Hi @barnarj We would need a Pull request to be able to merge the change. Can you propose one please?

[2020-09-25 12:50] barnarj commented on #579
https://github.com/OCA/field-service/pull/644

[2020-10-04 10:29] OCA-git-bot opened #646 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] base_territory
- [ ] fieldservice
- [ ] fieldservice_crm
- [ ] fieldservice_recurring
- [ ] fieldservice_vehicle

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2020-10-05 08:43] felixsniper opened #647 "Email cannot be sent when configure FS Stage Server Action."
Hi OCA,

I created a procedure like this: "When an FS Order is created, a Notification email would be sent to Customer Email (Location information) and "Assigned to" Worker"

![image](https://user-images.githubusercontent.com/69030714/95057930-012d6700-0721-11eb-89bb-244e1473227e.png)

![image](https://user-images.githubusercontent.com/69030714/95058117-45b90280-0721-11eb-909c-3f623c85c2c5.png)

!

[2020-10-16 09:07] hparfr commented on #632
[REDACTED] I was answering looking at the wrong file

customer_id is in field_service_account_analytic. I'm ok to add it in the fsm order tree view in field_service_account_analytic module

[2020-10-16 14:34] WebGurru120 opened #659 "Partner Id popup Issue in Field Service Location"
Hi, i have installed Field Service in our crm, we are trying to create location in it, but the issue arises when i select the partner id!

Uncaught TypeError: value.split is not a function
http://128.199.253.247/web/content/2071-00f2a28/web.assets_backend.js:1216
Traceback:
TypeError: value.split is not a function
    at Class._getDisplayName (http://128.199.253.247/web/content/2071-00f2a28/web.as

[2020-10-16 14:40] hparfr opened #660 "Add partner.type = fsm_location"
Hi,

In order to create locations more aligned with odoo address, I had done the following:
- add a new type on the partner
- allow to create fsm locations from the partner's (parent).
![Screenshot_2020-10-16 Akretion - Odoo](https://user-images.githubusercontent.com/8331206/96271555-542ed600-0fcd-11eb-9d2d-87cb8a125789.png)

- add a default icon
![Screenshot_2020-10-16 Contacts - Odoo](https://us

[2020-10-23 07:11] #588 closed

[2020-10-28 08:34] felixsniper opened #662 "Cannot confirm Vendor Bill & Customer Invoice after finished Stock Request."
Hi OCA,

I tried to create Vendor Bill & Customer Invoice AFTER Delivering Materials to Customer Side.
But it could not be created successfully.

**Step to Reproduce:**
1) Create a FS Order
2) Create a Stock Request -> Proceed the Stock Request -> Deliver materials to Customer side (Outbound)
3) Check the stage of Stock Request is "Done"
4) Add the Material to Contractor Cost.
5) Change the FS Ord

[2020-11-02 05:06] felixsniper opened #665 "[FS Accounting] - Cannot add the product line in Contractor Cost for multiple companies."
Hi OCA,

I tried to test the FS Application with multiple companies.
But I cannot add the Product line to Contractor Cost when I change from parent company to child company.

**Step to reproduce:**
A company is a parent company
B company is a child company
**Step 1:** Create an FS Order from A company and check if it could be completed. Passed
**Step 2:** Create an FS Order from B company and chec

[2020-11-06 17:47] osi-scampbell opened #667 "[13.0] fieldservice: Gantt Chart"
Hello,

I can see we have migrated the fieldservice module to v13, however it appears we did not migrate the gantt chart (timeline view), do we know why this is?

Gantt Chart in v12
![image](https://user-images.githubusercontent.com/39602586/98397920-5bba2b80-201d-11eb-822e-93bed34d296c.png)

No Gant Chart in v13
![image](https://user-images.githubusercontent.com/39602586/98397994-72f91900-201d-11

[2020-11-06 17:57] brian10048 commented on #667
@osi-scampbell Check out #521 - When base fieldservice was being migrated to 13 the dependency for the gantt chart was not migrated yet itself https://github.com/OCA/field-service/pull/513#issuecomment-597020470

[2020-11-06 17:59] osi-scampbell commented on #667
@brian10048 Thanks for the quick response, so we have split it into a separate module. I think that is smart, but it looks like it has been held up. I will reach out to the developer and see if we can get that back on track

[2020-11-09 16:15] #667 closed

[2020-11-20 17:27] dreispt opened #674 "`fieldservice`module abusive dependencies?"
I note that the `fieldservice` has dependencies on modules that don't seem necessary for it to work.
For example, `partner_fax` and `web_timeline`.
In my opinion if they not essential, the installation of those modules should be optional, and not be in the dependencies.
Such a change is simple wouldn't have an impact on existing installations.

[2020-11-20 18:21] pedrobaeza commented on #674
Yeah, I agree and don't see the connection.

[2020-11-20 18:33] bodedra commented on #674
timeline view functionality provided by web_timeline module and v12 fieldservice module has used timeline functionality.

In v13 fieldservice module has dropped that functionality. I will share discussion link for reason.

[2020-11-20 18:33] brian10048 commented on #674
`web_timeline` has already been separated as of v13
Agreed that `partner_fax` isn't very essential either

While we are on the subject of dependencies...
I feel that the `fieldservice_stock` module has extra dependencies on some OCA `stock_request` modules.  For me it would be better to split into one module that depends on base stock module and another one for the stock_request modules.  I'll do

[2020-11-20 18:34] pedrobaeza commented on #674
Yes, please!

[2020-11-20 18:44] bodedra commented on #674
I take my words back for dropped functionality. It actually timeline functionality separated in new module called fieldservice_timeline. Here is open PR https://github.com/OCA/field-service/pull/521

[2020-11-20 18:51] bodedra commented on #674
@dreispt For fieldservice v13, we can remove dependency of `partner_fax` and `web_timeline` modules.

[2020-12-14 17:06] bodedra opened #680 "[13.0] FSM Template Activities wipe out after assign in FSM order"
Impacted versions:

- 13.0
- 12.0

Steps to reproduce:

- Go to Field Service > Master Data > Templates
- Create a new template or update existing template with Activities.
- Go to Field Service > Dashboard > Orders
- Create a FSM order and select template.
- Verify 'Activities' tab. It links properly.

Current behavior:

- Go to Field Service > Master Data > Templates
- Open that template and che

[2020-12-14 17:06] bodedra commented on #680
@osi-scampbell

[2020-12-14 17:34] bodedra commented on #680
Close Ref: https://github.com/OCA/field-service/pull/681

[2020-12-14 17:34] #680 closed

[2020-12-14 18:06] bodedra opened #682 "[13.0] FSM Activities don't update if FSM order generate from SO"
Impacted versions:

    13.0
    12.0

Steps to reproduce:

- Configure Product with Field Service Tracking and assign FSM template.
- Create a sale order and confirm it
- Verify FSM order and switch tab to 'Activities'

Current behavior:

- Activities don't link if order generate from SO

Expected behavior:

    It should link related activities from FSM Template record.

[2020-12-14 18:06] bodedra commented on #682
Close Ref: https://github.com/OCA/field-service/pull/681

[2020-12-14 18:06] #682 closed

[2020-12-14 18:06] bloke-in-kent opened #683 "Required field "Related Partner" cannot be populated when creating location"
This is also the case when trying to create a worker. The field label is there but no form element to populate it.

This is a fresh install of odoo 12 on Ubuntu 20.04. I've tried installing the fieldservice_partner_multi_relation app to see if that helps, but always returns an error:

File "src/lxml/etree.pyx", line 3631, in lxml.etree._Validator.assert_
AssertionError: Element odoo has extra cont

[2020-12-24 18:13] rida-fatima-iBees opened #685 "QUESTION: Are there reminders for workers?"
Reminder for workers before starting their tasks is important part. Is there any implementation for this or not?

[2020-12-28 15:14] brian10048 commented on #685
@rida-fatima-iBees Currently there is not an implementation for this specific function

[2021-01-14 14:36] hparfr commented on #674
`base_territory` can be removed too I guess.

[2021-01-16 01:46] #685 closed

[2021-01-21 09:10] tarbib commented on #683
Hello,

Actually I noticed the same issue, I think.

The field related partner is read only and not populated leading to the impossibility to create a new location.

https://user-images.githubusercontent.com/2255433/105328821-bf8dd280-5bd0-11eb-86d2-4690c9d99d2d.mp4

Maybe it should not be read only?

[2021-01-22 22:34] bermick opened #706 "base_territory installation failure on Odoo 13"
Hi!

When i try to install `base_territory` version `13.0.1.0.0` on my Odoo 13 server, I get the following error on the production logs and I'm not able to load the web interface and login:

[code]

Can you please provide some help?
Thanks

[2021-02-08 11:56] HekkiMelody commented on #683
I'm having the same problem.

As a workaround, setting required to False for partner_id in the views seems to work, and the field is then populated on creation as expected.

[2021-02-16 19:45] pleirb commented on #683
The exact same thing happens to me

[2021-02-16 20:00] pleirb commented on #683
In principle what I did in debugger mode edit the formulaio view and remove groups = "base.group_no_one" readonly = "1" from the partner_id tag

[2021-02-16 20:45] pleirb commented on #683
This error is repeated in several parts, for example the person. Something is missing

[2021-02-26 16:45] hparfr opened #735 "[RFC] Changes on fsm (recurring) template"
I suggest some changes in v14 at least:

* fsm.template

- [ ] rename model fsm.template to fsm.order.template
- [x]  `company_id`:  remove default value (#740)
- [x] `hour` : rename field to `duration` (#740)

* fsm.recurring.template

- [x]  `company_id`:  remove default value (#865)
- [x] `frequency_set_id`: change required to False (#865)
- [x] `fsm_order_template_id` :  ~remove it~ [edit]make

[2021-02-26 16:49] hparfr commented on #660
Part 1: add as fsm location type :  https://github.com/OCA/field-service/pull/696

[2021-03-04 13:23] hparfr commented on #735
ping @brian10048 @max3903 @osi-scampbell

[2021-03-08 18:11] brian10048 commented on #735
I only have one objection which is in relation to removing fsm_order_template_id from fsm.recurring.template

These changes to fsm.template sound good to me

First 2 changes are acceptable for me

I don't agree to remove fsm_order_template_id since not all uses of the recurring template come from a product or a sale.  For us, we may create a recurring order manually that may not be related to a pr

[2021-03-09 09:29] hparfr commented on #735
So I suggest then to not remove it, but make it optional.

![Screenshot_2021-03-09 New - Odoo](https://user-images.githubusercontent.com/8331206/110448990-03c22d00-80c2-11eb-9c07-d1db3742b426.png)
![Screenshot_2021-03-09 New - Odoo(1)](https://user-images.githubusercontent.com/8331206/110448992-04f35a00-80c2-11eb-8b5a-ef5bc2215231.png)
![Screenshot_2021-03-09 New - Odoo(2)](https://user-images.git

[2021-03-09 22:55] #674 closed

[2021-03-10 01:22] marcos-mendez opened #736 "ERRO installing FS Veicle Stock"
`2021-03-10 01:18:44,572 2889 ERROR demo odoo.modules.registry: Failed to load registry
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/modules/registry.py", line 86, in new
    odoo.modules.load_modules(registry._db, force_demo, status, update_module)
  File "/usr/lib/python3/dist-packages/odoo/modules/loading.py", line 421, in load_modules
    loaded_modules, updat

[2021-03-10 16:18] brian10048 commented on #736
Thank you @marcos-mendez

I will merge the PR to fix this issue soon

[2021-03-10 22:18] #736 closed

[2021-03-11 19:08] brian10048 commented on #379
I think this may be fixed with #739

[2021-03-13 10:47] #379 closed

[2021-03-22 18:38] Stephanisk opened #746 "settings can be clicked but after reload they are not active in Odoo 14 for Field Service"
Hi,

Looking for a solution. When i go Field Service => Configuration => Settings:

I can select certain settings and save that will remain active, but the majority, when they are clicked they dissappear after saving again. For instance Manage Recurring Orders, Manage Tags, FSM Location Builder, Manage Distribution, .....

Is there any solution to activate these things, or are the modules not avai

[2021-03-22 18:43] brian10048 commented on #746
Hello @Stephanisk
These modules are not yet migrated to v14
Once migrated, these settings will be functional

[2021-03-22 18:43] #746 closed

[2021-03-22 18:56] Stephanisk opened #747 "Odoo 14: Is a FS location can not be clicked in customer contact page information"
hello, apparantly some items have not been converted yet to v14. I was looking which module is making it able to click on the tab field service in a customers page overview and activate : Is a FS location, because without this the module can't be used or i would generate hundreds of double locations.

Is a FS Location: not clickable
is a FS Worker: not clickable
Primary Service Location: There i c

[2021-03-24 00:38] humandevs commented on #683
As a note, if you remove the readonly = "1" section from the view, it will show a Partner selection field on the form. This is bad because if a user then selects an existing Contact/partner from the dropdown and then changes the Title of that 'partner', it will change the Title of that 'partner' record throughout Odoo, thus changing the name of that Contact/Partner record, even if that record is t

[2021-03-31 23:32] osi-scampbell opened #752 "[BUG][12.0] fieldservice_vehicle_stock_request: Incorrect Field Referenced in View"
We have a error in the following view:
![image](https://user-images.githubusercontent.com/39602586/113223531-36cd8b80-923e-11eb-919d-411231f00bcd.png)
We are referencing a field that is no longer in fieldservice_stock as shown here:
![image](https://user-images.githubusercontent.com/39602586/113223606-62e90c80-923e-11eb-8ed5-0f20d86a7f6e.png)
I believe we should be referencing this view located in

[2021-04-07 05:29] AmmarOfficewalaSerpentCS opened #755 "[12.0]Required a partner id field in a FSM Location."
Hi OCA,

Step to reproduce:-
1:- Field service -> Master data -> Location
2:- Click on a crate
3:- Enter a value in the required fields.
4:- Click on a save.

Result :-
![Project12](https://user-images.githubusercontent.com/36848414/113814989-1f3b5900-9790-11eb-8553-969d0653a278.png)

Expected Result:-

It needs to save without getting any warning.

[2021-04-07 05:51] AmmarOfficewalaSerpentCS opened #756 "[12.0]Not able to selecte Territory in a location form view."
Hi OCA,

Step to reproduce:-
1:- Go to Field service -> Configuration -> Setting
2:- Select an **Auto-fill the workers on the location** field In a setting.
3:- Save a record.
4:-  Go to Field service -> Master Data -> Location
5:- Added all required fields in field service.
6:- Got to a Territory page.
7:- Select a Territory.

Result :-
![image](https://user-images.githubusercontent.com/36848414/

[2021-04-13 05:37] Freni-OSI commented on #646
fieldservice_skill #745
fieldservice_account #744
fieldservice_repair #733
fieldservice_route_vehicle #732
fieldservice_account_payment #764
fieldservice_delivery #730
fieldservice_route #780
fieldservice_route_account #728
fieldservice_stock #820
fieldservice_sale_reccurring #765
fieldservice_sale #761
fieldservice_project #724
fieldservice_distribution #760
fieldservice_isp_flow #722
fieldservic

[2021-04-14 20:01] ReedHayashikawa opened #759 "[14.0][BUG] Fieldservice: 'res.config.settings' object has no attribute 'group_manage_vendor_price'"
Hi OCA,

Step to reproduce -
1) Install fieldservice
2) Install fieldservice_purchase
3) Select Settings

Result:
<img width="491" alt="OCA_fieldservice" src="https://user-images.githubusercontent.com/55675425/114770630-7f964180-9d20-11eb-977f-bbe5b1b90150.png">

Issue location:  fieldservice/models/res_config_settings.py
![image](https://user-images.githubusercontent.com/55675425/114770863-c97f27

[2021-04-16 23:29] ReedHayashikawa commented on #759
#766

[2021-04-16 23:48] ReedHayashikawa opened #767 "[14.0][FIX] 'fsm.person' object has no attribute '_message_get_suggested_recipients'"
Hi OCA,

Step to reproduce -

In fieldservice
Master Data --> Workers
Select Field Service Worker

Result:

<img width="851" alt="OCA_fieldservice" src="https://user-images.githubusercontent.com/55675425/115094700-57027900-9ed3-11eb-8e2c-d361e3b778fb.png">

[2021-04-28 18:02] brian10048 opened #774 "fieldservice_project: New orders do not get default project"
**Steps to reproduce:**
Go to Projects
Select a project or task
Go to Service Orders page in notebook view
Click Create FSM Order

**Expected Result:**
Project field of the new FSM order is set to the project

**Actual Result:**
Project is blank

**Versions affected:**
12, 13

[2021-05-14 07:32] HekkiMelody commented on #755
This is the same issue as #683, and it's repeated in multiple places in the code, not just locations.

[2021-05-14 08:32] Freni-OSI opened #786 "[14.0][FIX] fieldservice: Missing action "Convert to FSM Record""
Hi OCA,
An action named Convert to FSM Record is Missing from contacts.
PFA.
![fieldservice](https://user-images.githubusercontent.com/77103376/118244277-fe67d100-b4bc-11eb-8028-c272760cc737.png)

[2021-05-19 15:14] Freni-OSI opened #788 "[14.0][FIX] fieldservice"
fsm.person throws traceback
![Screenshot (10)](https://user-images.githubusercontent.com/77103376/118838000-f22bab80-b8e2-11eb-8dfc-185633bfc8f9.png)

[2021-05-20 09:17] AmmarOfficewalaSerpentCS opened #792 "Person filter span display another time line view."
Hello OCA,

**Person filter span display also another timeline where they not use.**

![resoruce_shecadule](https://user-images.githubusercontent.com/36848414/118953262-4897f900-b97a-11eb-92ff-1f59a99c87fd.png)

[2021-05-20 09:17] AmmarOfficewalaSerpentCS commented on #792
#791

[2021-06-03 14:47] smangukiya opened #800 "FieldService"
**Error:-**
Create Service Location and fill Territory based on onchange below issue is raised.

The operation cannot be completed:
- Create/update: a mandatory field is not set.
- Delete: another model requires the record being deleted. If possible, archive it instead.

Model: Field Service Location Person Info (fsm.location.person), Field: Location (location_id)

**Reproduce steps:-**

1) Enable

[2021-06-04 16:28] aleuffre opened #802 "[12.0] Gantt view (fsm_gantt.js) incompatible with date_range: error whenever field is empty"
The Gantt view found at Fieldservice > Dashboard > Orders, i.e. https://github.com/OCA/field-service/blob/12.0/fieldservice/static/src/js/fsm_gantt.js of the base fieldservice module, gives an error on page load, and every time the filter is set to empty afterwards, if date_range is also installed.

The error is triggered by the onchange method associated with the `<select>` element. You can find

[2021-06-05 00:49] thiagoblisboa opened #803 "Odoo server error"
The installation of my application on odoo local server is giving the following error below in the installation.

Erro:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Bitnami\odoo-14.0.20210530-0\apps\odoo\Lib\site-packages\odoo-14.0.post20210530-py3.7.egg\odoo\tools\convert.py", line 677, in _tag_root
    f(rec)
  File "C:\Bitnami\odoo-14.0.20210530-0\apps\odoo\Lib\site-packages

[2021-06-21 13:56] #800 closed

[2021-06-21 13:59] #786 closed

[2021-06-23 22:04] ReedHayashikawa opened #812 "ValueError: Invalid field 'customer_id' on model 'fsm.location'"
PR: #811
Module: fieldservice_stock
Location: fieldservice_stock/tests/common.py

![image](https://user-images.githubusercontent.com/55675425/123173847-145d9f80-d434-11eb-9c98-aec131a180d7.png)

[2021-07-15 15:23] robyf70 opened #824 "[14.0][fieldservice_timeline] Uncaught (in promise) Error: Unknown prop 'action' given to component 'PatchableClass'"
I'm getting the error below when using the module switching to the timeline view

[code]

[2021-08-12 15:43] castalie-dev opened #829 "Fieldservice_equipment_stock error on stock move action confirm"
1. Install module Fieldservice_equipment_stock
2. Validate a stock.picking IN movement and you will get that error
[Video record link](https://recordit.co/MT8SGFNEKq)
3. You will get this error message:

[code]

Thanks in advance for your help

[2021-08-12 16:08] smangukiya commented on #829
@castalie-dev : Thanks for catching this up. Here is the PR which should resolve this issue. https://github.com/OCA/field-service/pull/830. Will merge it once all checks are clear.

[2021-08-13 08:42] castalie-dev opened #831 "Fieldservice_equipment_stock error on stock move action confirm #829"
1. Install module Fieldservice_equipment_stock
2. Validate a stock.picking IN movement and you will get that error
[Video record link](https://recordit.co/1ZvemJLbL1)

[code]

[2021-08-13 08:42] castalie-dev commented on #829
@smangukiya Thanks for your help. It did resolve this issue but another one appears. I created another issue.

[2021-08-13 21:43] #829 closed

[2021-08-13 21:46] smangukiya commented on #829
@castalie-dev : Will review this one soon, Thanks

[2021-08-17 14:53] aymenrahmay opened #832 "Error on stock move action confirm"
Hello,
After installing the module fieldservice_equipment_stock and once we try to valide any stock move (IN or OUT) we get this message
Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/opt/odoo/odoo/http.py", line 684, in dispatch
    result = self._call_function(**s

[2021-08-17 14:55] smangukiya commented on #832
@aymenrahmay Thanks for reporting, it's duplicated issue so closing it out. https://github.com/OCA/field-service/issues/831

[2021-08-17 14:55] #832 closed

[2021-08-19 08:35] aymenrahmay commented on #831
Hello,

After pulling the updated branch, still we are facing an issue by clicking the validate button on the stock.picking
[code]

[2021-08-19 15:17] smangukiya commented on #831
@aymenrahmay : Yes we are working on it here https://github.com/OCA/field-service/pull/833. Thanks

[2021-09-09 10:25] max3903 commented on #824
I get the same error message.

[2021-09-09 15:09] smangukiya commented on #824
Thanks for the update @robyf70 @max3903 we will look into it and resolve at earlier.

[2021-09-11 02:56] zionram opened #840 "Problems uninstalling Fieldservice and Fieldservice maintanance."
Hi, I'm newer to the Odoo scene. I ordered a managed server and I asked to install the field service along with various add-ons. However, once this was done I started getting errors on the field service module. Then it didn't work altogether. So I attempted to uninstall everything and start over.  It worked for all but 2 modules, the "fieldservice" app and the "fieldservice_maintenance" app.

When

[2021-09-11 03:00] zionram commented on #840
Another thing I noticed that was wierd. There seems to two "Field Service -  Accounting" modules ,  and I think there used to be a "field service" module that wasn't accounting, and that seems to have disappeared.  Is it possible it somehow adopted the wrong folder? That sounds crazy, but I don't understand it.

[2021-09-12 11:20] MrTango opened #841 "[14.0] Add customer broken: _compute_owned_location_count: TypeError: 'NewId' object is not iterable"
Whenn I just install the fieldservice module in a plain new Odoo 14 DB, and try to add a customer, I get the following error.

[code]

[2021-09-12 14:01] MrTango commented on #841
After pulling updates from Odoo14, the issue disappeared.

[2021-09-12 14:01] #841 closed

[2021-09-16 17:00] zionram commented on #840
Upon further diagnosis of my issue. After comparing the fieldservice and fieldservice_account code base that is on your Odoo server I noticed they are the same which is why I was getting that error.

[2021-09-16 17:00] #840 closed

[2021-09-20 17:34] #824 closed

[2021-09-20 18:24] mymage opened #846 "[12] fieldservice_route_stock - typo"
Is
'fsm.route.dayroute', string='ay Route')
must be
'fsm.route.dayroute', string='Day Route')

https://github.com/OCA/field-service/blob/b9786eaec74350bd7bf901632f7b455f1e30b222/fieldservice_route_stock/models/stock_inventory.py#L13

[2021-09-29 10:46] rafal-openglobe opened #847 "[14.0][FIX] fieldservice_stock - sorting error"
When using 'fieldservice_stock' with 'fieldservice_sale' we encountered the following error after creating FSM Order from Sale Order with more than one storable product. It appears when you try to access 'fsm_order' view of such FSM Order.

TypeError: Cannot read properties of undefined (reading 'type')
    at compareRecords (http://localhost:8069/web/content/173-eb55956/web.assets_backend.js:1599

[2021-10-17 10:15] OCA-git-bot opened #854 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] base_territory - By @Murtaza-OSI - #876
- [x] fieldservice - By @victoralmau - #950
- [x] fieldservice_account - By @Vandan-OSI - #884
- [x] fieldservice_account_analytic - By @Freni-OSI - #900
- [x] fieldservice_account_payment - By @Freni-OSI - #901
- [x] fieldservice_activity - By @Freni-

[2021-10-28 16:06] MrTango opened #855 "Adding translations in transiflex, how do i get permissions to do that?"
BTW the transiflex graph is missing in the 14.0 branch, or is deprecated to use it?
https://translation.odoo-community.org/projects/field-service-14-0/

[2021-10-28 17:25] smangukiya commented on #855
@MrTango : You are right, somehow it missed in recent migration. you are more than welcome to add it back to 14.0 branch.

Thank you

[2021-10-28 17:40] brian10048 commented on #855
@MrTango you can register to add translations here: https://translation.odoo-community.org/accounts/register/

[2021-10-28 17:40] #855 closed, assigned to nobody

[2021-11-01 20:52] #242 closed

[2021-11-28 12:11] #1 closed

[2021-11-28 12:11] #17 closed

[2021-11-28 12:11] #20 closed

[2021-11-28 12:11] #53 closed

[2021-11-28 12:11] #129 closed

[2021-11-28 12:11] #166 closed

[2021-11-28 12:11] #190 closed

[2021-11-28 12:11] #202 closed

[2021-12-05 12:12] #213 closed

[2021-12-05 12:12] #218 closed

[2021-12-05 12:12] #220 closed

[2021-12-08 19:21] marcos-mendez opened #862 "[14.0][FIX] - Activating recurring orders not taken in place"
When activating the recurring orders on field-service config it is not activated in the system neither in RunBot or Local LXC development.

## Module
field-service

![output](https://user-images.githubusercontent.com/38361760/145272288-4eb1b08e-bd93-490d-bc90-2b4365e13248.gif)

[2021-12-08 19:36] marcos-mendez commented on #862
https://github.com/OCA/field-service/pull/859

Maybe can solve the problem, didn't tested

[2021-12-08 20:52] brian10048 commented on #862
@marcos-mendez once merged #859 will solve the issue

[2021-12-08 20:52] #862 closed

[2021-12-08 22:12] marcos-mendez commented on #862
Thanks for the support

[2021-12-12 12:12] #278 closed

[2021-12-12 12:12] #281 closed

[2021-12-19 12:12] #309 closed

[2021-12-26 12:12] #311 closed

[2021-12-31 17:58] babatoko commented on #418
Please keep the case open.

[2022-01-09 12:12] #328 closed

[2022-01-09 12:12] #329 closed

[2022-01-09 12:12] #332 closed

[2022-01-13 00:43] aymenrahmay opened #885 "Odoo 14 - Error's in during the execution of unit test's on Odoo sh and in the local"
Odoo V14 (Entreprise)

After installing some FSM modules we got this error
[code]

Full log details:

[code]

[2022-01-16 12:12] #370 closed

[2022-01-16 12:13] #374 closed

[2022-01-16 12:13] #396 closed

[2022-01-21 08:40] aymenrahmay opened #888 "Migration of fieldservice_stock_request to Odoo 14"
We are using the field management service and we need to allow the technician to consume some products from his warehouse
so we want to know :
If the module fieldservice_stock_request will be migrated to the 14 version?
Or is there any already migrated future  can allow us to do this ?

[2022-01-23 12:12] #399 closed

[2022-01-23 12:12] #405 closed

[2022-01-28 22:23] TheCloneMaster opened #892 "[14.0] fieldservice: How are orders moved between stages"
Hi,
At least in V14, I can not find how to move an order between stages, besides the "complete" and "cancel" buttons or moving the order between stages in Kanban mode.  Are these the only intended ways of doing this?

If customer has many stages, it would be better to click on the correct stage in the "statusbar" instead of having to switch to Kanban
Regards,
-Mario

[2022-01-30 12:11] #448 closed

[2022-02-03 17:09] jbjour commented on #831
Hello do you have any update on the issue ?
Thanks

[2022-02-03 17:13] jbjour commented on #885
Hello,
I am also getting this issue has anyone an update about this ?

Thanks

[2022-02-03 17:19] jbjour opened #893 "Printing report on fsm.order error when using French"
French translation even translates technical fields
in [fr.po](https://github.com/OCA/field-service/blob/5edfe3f4dc3399b1f9901188679835c3fbe3ae78/fieldservice/i18n/fr.po#L59) and [fr_FR.po](https://github.com/OCA/field-service/blob/5edfe3f4dc3399b1f9901188679835c3fbe3ae78/fieldservice/i18n/fr_FR.po#L59)

[code]

## Module
fieldservice

## Describe the bug
When using the print (imprimer) button on

[2022-02-06 12:11] #452 closed

[2022-02-09 16:38] dreispt opened #895 "[13.0][14.0][15.0] Handle multi-company correctly with Odoo >= 13"
Following the thread published on the Contributors ML:

Modules probbaly affected:

- [ ] fieldservice_account_analytic
- [ ] fieldservice_route
- [ ] fieldservice_stock
- [ ] fieldservice

This list might not be 100% correct and was based on the following output:
[code]

[2022-02-11 16:27] dreispt opened #907 "[14.0] Creating a new "Worker", the "Related Partner" required field is not editable and is not populated"
![image](https://user-images.githubusercontent.com/1246629/153629731-17ae31f1-dff0-45b2-9b35-ccf553d29f96.png)

[2022-02-13 12:11] #453 closed

[2022-02-20 12:12] #454 closed

[2022-02-20 12:12] #473 closed

[2022-02-27 12:13] #484 closed

[2022-02-27 12:13] #487 closed

[2022-02-27 12:13] #488 closed

[2022-03-02 18:14] #759 closed

[2022-03-02 18:14] #767 closed

[2022-03-06 12:13] #509 closed

[2022-03-09 19:25] brian10048 commented on #888
The migration status of field service modules to v14 is tracked here #646
There is a pull request for the fieldservice_stock_request module here #813

[2022-03-09 19:25] #888 closed

[2022-03-13 12:13] #518 closed

[2022-03-13 12:13] #519 closed

[2022-03-14 11:07] ygol opened #915 "[14.0] fieldservice: smart buttons not working"
## Modules Affected
[x] - fieldservice #916
[ ] - fieldservice_account
[ ] - fieldservice_account_payment
[ ] - fieldservice_agreement
[ ] - fieldservice_distribution
[ ] - fieldservice_isp_account
[x] - fieldservice_partner_multi_relation #917
[x] - fieldservice_project #918
[ ] - fieldservice_purchase
[ ] - fieldservice_sale
[ ] - fieldservice_stock

## Describe the bug
most Smart buttons are no

[2022-03-15 08:12] ygol commented on #915
Hi @max3903 should I do one PR per module or would it be ok to do one PR addressing this problem for all the modules in the repo at once? TIA

[2022-03-20 12:13] #524 closed

[2022-03-29 13:52] castalie-dev opened #922 "[14.0] fieldservice: unit test"s of CRM module are not passing due to the fieldservice module"
When we start Odoo  executing the unit test for crm and fieldservice module using this command :
**`./odoo/bin -d testDB -i crm,fieldservice  --test-enable --log-level=debug`**
the most of UT in CRM  module are failed
Error message
**odoo.exceptions.AccessError: You are not allowed to access 'Field Service Location' (fsm.location) records.

This operation is allowed for the following groups:
	- Fi

[2022-03-29 14:12] castalie-dev commented on #922
To slove this issue we need to add a sudo() on one line of code
partners_with_loc_ids = (self.env["fsm.location"]**.sudo()**.search([("active", "in", [False, True]), ("partner_id", "in", self.ids)]).mapped("partner_id")).ids

file to be edited: /field-service/fieldservice/models/res_partner.py in the line 60 , by adding that .sudo()

[2022-03-29 14:30] jbjour commented on #922
Hello,

I have the same issue on an Odoo.sh environment. This fix seems to be right.
We need it to be implemented ! :+1:

[2022-03-29 14:41] marouensa commented on #922
Hello ,
We also need this fix to implement the Odoo.sh environment.

[2022-03-29 14:46] abdelaziz556 commented on #922
Hello ,
I have the same problem

[2022-03-29 14:54] Abdelmajidhnen commented on #922
Hello ,
I have the same problem. I need this fix

[2022-03-30 20:29] smangukiya commented on #922
@Vandan-OSI Can you please work on this issue?

CC: @murtuzasaleh

[2022-04-03 12:14] #541 closed

[2022-04-04 07:13] castalie-dev commented on #922
@Vandan-OSI @murtuzasaleh is there any update please ?

[2022-04-07 18:04] smangukiya commented on #915
@ygol : One PR per module is expected. Thank you for your good work!

[2022-04-07 20:20] brian10048 commented on #922
@castalie-dev
The fix you recommend was merged with this PR #890

Can you verify you have this [commit](https://github.com/OCA/field-service/commit/489ca36c6b43ded9f41d891dc27ed6b55fcb6ebf) and then recheck for the error

[2022-04-10 12:14] #548 closed

[2022-04-15 17:04] fauks opened #928 "Does this work for version 15?"
Sorry I'm really new to all of this. I just installed odoo 15 locally and added the field-service addon (git checkout 15.0) and updated odoo.conf.

When I update the list on "apps" under developer mode,  I still don't see it.

Do I need to downgrade to 14?

Thanks

[2022-04-15 17:23] brian10048 commented on #928
@fauks Version 15 is not yet migrated.  Version 14 has many apps migrated. You can downgrade to 14 and you will be able to install field service

You can follow #854 where we track the migration status to v15.

[2022-04-15 17:23] #928 closed

[2022-04-17 12:14] #562 closed

[2022-04-19 18:39] brian10048 commented on #915
@ygol Thank you for the fixes.  I updated your original comment and noted all the modules that appear to be affected by this bug.  Are you available to submit PRs for the remaining modules?

[2022-04-19 18:42] ygol commented on #915
Yes I am

[2022-04-21 13:03] castalie-dev commented on #922
Thanks

[2022-04-21 13:05] castalie-dev opened #929 "assertNotEquals is the UT is not used"
Please use assertNotEqual instead.self.**assertNotEquals**(
on the line 98 of this file
/fieldservice_activity/tests/test_fsm_activity.py

[2022-04-21 13:22] Steff-mwl opened #930 "[Question][14.0] How to follow equipment ?"
In an order, you can only add equipment already in the location which I don't understand. There are fields 'assigned location' and 'current location' in the equipment. I would have imagine that if the equipment current location is the assigned location then it can be added to an order, which once started change the current location to the order location and back to the assigned location once finis

[2022-04-21 13:27] pedrobaeza commented on #929
This is not a bug, only an improvement. You can do the pull request improving such thing if you want.

[2022-04-21 13:27] #929 closed

[2022-04-24 12:15] #567 closed

[2022-04-24 12:15] #576 closed

[2022-04-28 15:42] ygol commented on #915
Hi @brian10048 pls reopen.

[2022-05-01 12:16] #578 closed

[2022-05-01 12:16] #579 closed

[2022-05-08 12:15] #586 closed

[2022-05-08 12:16] #587 closed

[2022-05-09 13:05] #915 closed

[2022-05-09 17:25] jayo2005 opened #933 "Which Version of Odoo"
Which version of Odoo has the best addons for FSM & geospatial. Should I go with V14? Version 12 looked like there were more addons etc.

[2022-05-15 12:16] #547 closed

[2022-05-22 12:16] #590 closed

[2022-05-24 15:08] brian10048 commented on #933
Version 12 is the most stable branch for both fieldservice and geospatial support

For version 14, there are still some geospatial modules that need merged

[2022-05-24 15:08] #933 closed

[2022-05-29 12:16] #592 closed

[2022-05-30 18:50] TheCloneMaster opened #935 "fieldservice_equipment_stock - Not all equipment should have product and serial number from stock"
## Module
fieldservice_equipment_stock

## Describe the bug
When installed, this module forces all equipment to be linked to stock, with product and serial number.

**Expected behavior**
In real life, a lot of implementations require that you provide service to external equipment that customers bough from other providers, so forcing to create a product and lot in internal stock is wrong.

Fields p

[2022-05-30 19:51] TheCloneMaster opened #936 "Fieldservice to Sale Orders"
Most of the time, while technicians are working on a FSM order, spare parts are needed.

There is already a module for fsm stock requests, but it doesn't allow to request approval from customer in case he has to pay for the spares...

Is there any module that covers this use case?
If not, we will work on it and create a PR here, but first would like any advice from current contributors
I envision

[2022-06-05 12:15] #611 closed

[2022-06-05 12:15] #628 closed

[2022-06-12 12:14] #631 closed

[2022-06-12 12:14] #632 closed

[2022-06-12 12:14] #633 closed

[2022-06-19 12:15] #638 closed

[2022-06-19 12:15] #640 closed

[2022-07-03 12:15] #647 closed

[2022-07-07 09:47] robinhli opened #946 "[13.0]Can't create field service order"
## Module
The name of the module that has a bug.
field_service
## Describe the bug
A clear and concise description of what the bug is.
Can't create a field service order
## To Reproduce
**Affected versions**:

Steps to reproduce the behavior:
1. Field Service -> Operation -> All Orders， Create
2. fill the required field and click save button
3. Issue occurred

![image](https://user-images.githubus

[2022-07-07 09:48] robinhli commented on #907
same issue for 13.0

[2022-07-17 12:16] #659 closed

[2022-07-17 12:16] #660 closed

[2022-07-24 12:16] #662 closed

[2022-07-24 12:16] #665 closed

[2022-07-28 06:52] yankinmax commented on #646
@Chanakya-OSI
I want to open a new PR which supersedes https://github.com/OCA/field-service/pull/689

`fieldservice_stage_validation` migration:
- [x] https://github.com/OCA/field-service/pull/948

[2022-08-07 12:16] #418 closed

[2022-08-28 12:16] #683 closed

[2022-09-08 04:46] HarryLinden commented on #892
Hello,
I use V12, Mario's suggestion is a good one. I brought this up with my IT team as well. Currently use this function in Helpdesk all the time.

[2022-09-12 08:06] hparfr commented on #735
Still to do, but low priority for me now.

[2022-09-12 08:06] #735 closed

[2022-09-25 12:19] #706 closed

[2022-09-30 15:11] marcos-mendez opened #961 "[BUG] - 14.0 Field-Service Location Builder Settings not being saved"
## Module
field-service

## Describe the bug
When setting Field-service Location Builder in the Settings Menu After clicking save it doesn't save and the location builder features are not allowed neither generated
[Screencast from 30-09-2022 12:07:52.webm](https://user-images.githubusercontent.com/38361760/193301059-d1ae8ae1-bae9-4d40-97b7-e4310d3c5247.webm)

[2022-09-30 15:12] marcos-mendez commented on #961
This was tested in Odoo Bot Instance http://oca-field-service-14-0-6233229ced9f.runboat.odoo-community.org/web?#action=90&cids=1&id=&menu_id=4&model=res.config.settings&view_type=form

[2022-09-30 15:12] marcos-mendez commented on #961
@max3903 if you guide me i can try to fix this

[2022-09-30 15:24] marcos-mendez commented on #961
@marcelsavegnago maybe this was the problem i was telling you the other day. The field -service builder generates those fields

https://github.com/OCA/field-service/blob/14.0/fieldservice/models/res_config_settings.py#L41

[2022-09-30 18:11] marcelsavegnago commented on #961
@marcos-mendez fieldservice_location_builder has not been migrated to 14.0. The way to fix your problem is to migrate the module to 14.0

[2022-09-30 18:12] marcelsavegnago commented on #961
@marcos-mendez This configuration that is implemented here is for installing the module. However, if the module does not exist in the instance, the system does nothing.

https://github.com/OCA/field-service/blob/14.0/fieldservice/models/res_config_settings.py#L41

[2022-09-30 18:13] marcelsavegnago commented on #961
12.0
https://github.com/OCA/field-service/tree/12.0/fieldservice_location_builder

[2022-10-02 20:30] RevianBudiman commented on #311
hy

[2022-10-02 20:30] RevianBudiman commented on #311
i

facing the same problem, need help

[2022-10-03 16:22] sbidoul opened #963 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] base_territory

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-10-16 12:20] #747 closed

[2022-10-16 12:20] #752 closed

[2022-10-16 12:20] #755 closed

[2022-10-20 10:27] #961 closed

[2022-10-20 10:42] marcos-mendez commented on #930
You can remove the equipment from its original designed location for repair for example, so current location is not the same as assigned location. That is why you have this type of fields. Hope i have helped.

[2022-10-23 12:21] #756 closed

[2022-10-24 07:08] #802 closed

[2022-11-04 02:54] Jake-Tong-Epiklah opened #1000 "[14.0] Cannot create a Server Action that send an email everytime stages change"
## Module
Field Service - Server Action

## Describe the bug
I wanted to make a Server Action that will send an email to a customer and the workers involved that notifies the stage has changed from "New" to "Confirmed" but I setup the outgoing email server and the email template with the destination email is not wrong it still didn't send out any email. Is there something wrong with my setup?

##

[2022-11-20 12:16] #788 closed

[2022-11-23 22:46] marcos-mendez opened #1011 "[14.0] fieldservice: Maintain hierarchy when converting partners to FSM locations"
So is presumed that res.partner Hierarchy would be maintained when Converting FSM Record Button in the contacts page.

So related Owner has to be herited from those records.

TO REPRODUCE create 2 res.partner contacts. ONE being child of another
Apply FSM Record to both

Check that locations are created as individual locations not maintained the hierarchy

[2022-11-27 12:15] #792 closed